@import '../../styles/extends';
@import '../../styles/variables';

.pipeline-tags {
  .cbn-dropdown {
    display: block;
    margin: 12px;

    .cbn-switch {
      margin: 0;
      width: 100%;

      label {
        max-width: 100%;

        span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: calc(100% - 35px);
        }
      }
    }
  }
}

.pipeline-tags__tag-list {
  margin: 0;
  padding: 0;
  list-style: none;

  // Nested to force override of default CarbonUI styles
  .pipeline-tags__tag-list-item {
    padding: 0;

    label {
      padding: 10px 12px;
    }
  }
}

.pipeline-tags__empty {
  font-size: 1.4em;
}
