@import '../../styles/extends';
@import '../../styles/variables';

.pipeline-tags {
  .kui-dropdown {
    display: block;
    margin: 12px;

    .kui-switch {
      width: 100%;
      margin: 0;

      label {
        max-width: 100%;

        span {
          max-width: calc(100% - 35px);
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

.pipeline-tags__tag-list {
  margin: 0;
  padding: 0;
  list-style: none;

  // Nested to force override of default Kedro UI styles
  .pipeline-tags__tag-list-item {
    padding: 0;

    label {
      padding: 10px 12px;
    }
  }
}

.pipeline-tags__empty {
  font-size: 1.4em;
}
