@use '../../../styles/variables' as variables;

.url-box__wrapper {
  background-color: #{variables.$slate-700};
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: space-between;
  text-overflow: ellipsis;

  a {
    color: var(--color-deployed-link);
    font-size: 16px;
    line-height: 32px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 16px;
    font-family: inherit;
    text-decoration: underline;
    width: 90%;
  }
}

.url-box___button {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid white;

  .button__btn--secondary {
    width: 100px;
  }
}
