@import '../../styles/variables';
@import '../../styles/mixins';

$sidebar-toolbar-width-closed: $sidebar-width-closed + $global-toolbar-width;
$sidebar-toolbar-width-open: $sidebar-width-open + $global-toolbar-width;

.pipeline-wrapper {
  height: 100%;
}

.pipeline-wrapper__loading {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: absolute;
  top: 0;
  transform: translateX($sidebar-toolbar-width-closed);
  transition: transform 0.4s ease, width ease 0.4s;
  width: calc((100% - #{$sidebar-toolbar-width-closed}));

  @media (min-width: $sidebar-width-breakpoint) {
    &--sidebar-visible {
      transform: translateX($sidebar-toolbar-width-open);
      width: calc((100% - #{$sidebar-toolbar-width-open}));
    }
  }
}
