@import '../../styles/extends';
@import '../../styles/variables';

.pipeline-tabs {
  display: flex;
  flex-direction: column;
  height: 100%;

  .cbn-tabs {
    position: static; // override nav button without using z-index
    padding: 24px;
  }

  .cbn-tabs__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.pipeline-tabs_tab {
  flex: 2;
  overflow: hidden;
  outline: none;
}
