*                                       @tynandebold

src/                                    @tynandebold
public/                                 @tynandebold
tools/                                  @rashidakanchwala
package/                                @rashidakanchwala

Makefile                                @tynandebold
.circleci/                              @tynandebold

*.js                                    @tynandebold
*.json                                  @tynandebold
*.scss                                  @tynandebold
*.py                                    @rashidakanchwala
*.md                                    @tynandebold @yetudada

.babelrc                                @tynandebold
.eslintrc.json                          @tynandebold
.prettierrc                             @tynandebold
.gitignore                              @tynandebold
CODEOWNERS                              @tynandebold @yetudada
CONTRIBUTING.md                         @tynandebold @yetudada
README.md                               @tynandebold @yetudada
RELEASE.md                              @tynandebold @yetudada
legal_header.txt                        @tynandebold @yetudada
LICENSE.md                              @tynandebold @yetudada