*                    @Huongg

# Frontend
*.js                 @Huongg @jitu5
*.json               @Huongg @jitu5
*.scss               @Huongg @jitu5
*.css                @Huongg @jitu5

# Backend
*.py                 @Huongg @ravi-kumar-pilla
package/             @Huongg @ravi-kumar-pilla

# CI / release
.github/workflows/   @Huongg @jitu5 @ravi-kumar-pilla
Makefile             @Huongg @jitu5 @ravi-kumar-pilla
RELEASE.md           @Huongg @jitu5 @ravi-kumar-pilla
