*                                       @richardwestenra

src/                                    @richardwestenra
public/                                 @richardwestenra
tools/                                  @921kiyo
package/                                @921kiyo

Makefile                                @richardwestenra @DmitriiDeriabinQB
.circleci/                              @richardwestenra @DmitriiDeriabinQB

*.js                                    @richardwestenra
*.json                                  @richardwestenra
*.scss                                  @richardwestenra
*.py                                    @DmitriiDeriabinQB @921kiyo
*.md                                    @richardwestenra @yetudada

.babelrc                                @richardwestenra
.eslintrc.json                          @richardwestenra
.prettierrc                             @richardwestenra
.gitignore                              @richardwestenra
CODEOWNERS                              @richardwestenra @yetudada
CONTRIBUTING.md                         @richardwestenra @yetudada
README.md                               @richardwestenra @yetudada
RELEASE.md                              @richardwestenra @yetudada
legal_header.txt                        @richardwestenra @yetudada
LICENSE.md                              @richardwestenra @yetudada