.kernel-pipeline {
  font-size: 10px;
  height: 100%;
  overflow: hidden; }
  .kernel-pipeline.cbn-theme--light {
    background: #f9f9f9;
    color: #333; }
  .kernel-pipeline.cbn-theme--dark {
    background: #1d2f3a;
    color: #fff; }

@media (min-width: 480px) {
  .pipeline-wrapper {
    transition: background ease 0.2s, transform ease 0.4s;
    transform: translateX(0); }
    .pipeline-wrapper--menu-visible {
      transform: translateX(200px); } }

.pipeline-wrapper, .pipeline-wrapper > div {
  height: 100%; }

.pipeline-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  transition: all ease 0.3s;
  z-index: 20;
  width: 100%;
  transform: translateX(-100%); }
  .pipeline-sidebar .pipeline-ui {
    visibility: hidden;
    transition: visibility 0s; }
  @media (min-width: 480px) {
    .pipeline-sidebar {
      width: 400px;
      transform: translateX(-400px); } }
  .pipeline-sidebar--visible {
    transform: translateX(0); }
    @media (min-width: 480px) {
      .pipeline-sidebar--visible {
        transform: translateX(-200px); } }
    .pipeline-sidebar--visible .pipeline-ui {
      visibility: visible;
      transition: visibility 0.3s; }
  .cbn-theme--light .pipeline-sidebar {
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.03); }
  .cbn-theme--dark .pipeline-sidebar {
    background: #111f2a;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

.pipeline-sidebar__menu {
  position: absolute;
  top: 30px;
  right: -60px; }
  @media (max-width: 480px) {
    body.menu-visible .pipeline-sidebar__menu {
      right: 30px; } }

.cbn-theme--light .menu-icon {
  fill: #333; }

.cbn-theme--dark .menu-icon {
  fill: #fff; }
