@import '../../styles/variables';

.kernel-pipeline {
  position: relative;
  font-size: 10px;
  height: 100%;
  overflow: hidden;

  &.cbn-theme--light {
    background: $color-bg-light;
    color: #333;
  }

  &.cbn-theme--dark {
    background: $color-bg-dark;
    color: #fff;
  }
}

.pipeline-wrapper {
  height: 100%;
}

.pipeline-sidebar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  transition: all ease 0.4s;
  z-index: 20;
  width: 100%;
  transform: translateX(-100%);

  .pipeline-ui {
    visibility: hidden;
    transition: visibility 0s;
  }

  @media (min-width: $breakpoint-small) {
    width: $nav-width;
    transform: translateX(-$nav-width);
  }

  &--visible {
    transform: translateX(0);

    @media (min-width: $breakpoint-small) {
      transform: translateX(0);
    }

    .pipeline-ui {
      visibility: visible;
      transition: visibility 0.3s;
    }
  }

  .cbn-theme--light & {
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.03);
  }

  .cbn-theme--dark & {
    background: $color-header-dark;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
}

.pipeline-sidebar__show-menu {
  position: absolute;
  top: 20px;
  left: 20px;
  transition: all ease 0.4s;
}

.pipeline-sidebar__hide-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  visibility: hidden;
  opacity: 0;
  transition: all ease 0.4s;

  &--offset {
    right: -50px;
  }

  &--visible {
    visibility: visible;
    opacity: 1;
  }
}

.menu-icon {
  .cbn-theme--light & {
    fill: #333;
  }

  .cbn-theme--dark & {
    fill: #fff;
  }
}