# See https://help.github.com/ignore-files/ for more about ignoring files.

# environment variables
.env

# CSS
/src/**/*.css

# JSON viz data
/public/data
/public/logs
/public/api

# dependencies
node_modules

# testing
/coverage
kedro-viz.tgz

# production
build/
lib/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode
.*.sw*
*~
package/.eggs/
.eslintcache

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.egg-info
dist/
*.iml
.idea/
__pycache__/

package/*/html/
package/*.log

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Kedro
*.log
