{
  extends: ['stylelint-prettier/recommended'],
  plugins: ['stylelint-order'],
  rules: {
    'rule-empty-line-before': [
      'always',
      {
        except: ['first-nested'],
        ignore: ['after-comment']
      }
    ],
    'order/properties-order': [[], { severity: 'warning' }],
  },
}
