@use '../../styles/variables' as variables;

.kui-theme--light {
  --color-description-text: #{variables.$black-300};
  --color-deployed-link: #{variables.$black-900};
  --color-modal-bg-1: #{variables.$grey-100};
  --color-modal-bg-2: #{variables.$grey-0};
  --color-footer-border: #{variables.$grey-300};
  --color-text-doc-link: #{variables.$black-800};
  --color-form-label: #{variables.$grey-700};
  --input-bg: #{variables.$white-100};
  --input-shadow: #{variables.$white-800};
}

.kui-theme--dark {
  --color-description-text: #{variables.$white-900};
  --color-deployed-link: #{variables.$white-0};
  --color-modal-bg-1: #{variables.$slate-300};
  --color-modal-bg-2: #{variables.$slate-100};
  --color-footer-border: #{variables.$black-600};
  --color-text-doc-link: #{variables.$white-600};
  --color-form-label: #{variables.$grey-500};
  --input-bg: #{variables.$slate-700};
  --input-shadow: #{variables.$slate-900};
}

.shareable-url-modal {
  .modal__content {
    max-width: 790px;
  }

  .modal__wrapper {
    align-items: flex-start;
    padding: 0;
    text-align: left;
  }

  .modal__title {
    margin-bottom: 24px;
  }

  .modal__description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    white-space: pre-line;

    a {
      color: inherit;
      text-decoration-color: inherit;
    }
  }

  &__non-default-wrapper {
    .modal__wrapper {
      padding: 48px;
    }

    .modal__content {
      max-width: 640px;
    }

    .shareable-url-modal__button-wrapper {
      background: none;
      border: 0;
      padding: 0;
    }
  }

  &__content-form-wrapper {
    display: flex;
  }

  &__content-title {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    padding-bottom: 24px;
  }

  &__content-description {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin: 0;

    a {
      color: var(--color-text-doc-link);
    }
  }

  &__content-note {
    margin-top: 18px;
    color: var(--color-form-label);

    a {
      color: var(--color-form-label);
    }
  }

  &__paregraph-divider {
    margin-bottom: 30px;
  }

  &__content-wrapper {
    padding: 48px;
    background: var(--color-modal-bg-2);
    box-shadow: 0 0 16px 0 rgb(0 0 0 / 10%);
  }

  &__form-wrapper {
    padding: 48px;
    background: var(--color-modal-bg-1);
    box-shadow: inset 0 0 16px 0 rgb(0 0 0 / 10%);
  }

  &__input-wrapper {
    margin-bottom: 32px;
    width: 100%;

    .dropdown {
      width: 264px;
    }

    .input {
      padding: 8px 12px;
      background: var(--input-bg);
      line-height: 20px;
      height: auto;
      white-space: nowrap;
      box-shadow: 0 1px 1px 0 var(--input-shadow);

      &:focus-visible {
        outline: none;
        text-decoration: none;
        border: 1px solid variables.$blue-300;
      }
    }
  }

  &__input-label {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 12px;
    color: var(--color-form-label);
  }

  &__button-wrapper {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 48px;
    background: var(--color-modal-bg-1);
    border-top: 1px solid var(--color-footer-border);

    &--right {
      justify-content: flex-end;

      .button:first-of-type {
        margin-right: 32px;
      }

      a .button:first-of-type {
        margin-right: 0;
      }
    }

    .button__btn--secondary {
      padding-left: 0;
    }
  }

  &__loading {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__result {
    margin-bottom: 48px;
    width: 100%;

    .toolbox {
      margin: 0 4px 0 20px;
    }

    .pipeline-icon {
      position: relative;
      top: unset;
      right: unset;
    }
  }

  &__error {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    width: inherit;

    .button {
      align-self: end;
      margin-top: 16px;
    }
  }

  &__url-wrapper {
    background: rgb(255 255 255 / 4%);
    display: flex;
    height: 50px;
    justify-content: space-between;
    margin-top: 12px;
    padding: 8px 8px 8px 16px;
    position: relative;
    text-overflow: ellipsis;

    a,
    .copy-message {
      color: var(--color-deployed-link);
      font-size: 16px;
      line-height: 32px;
    }

    a {
      cursor: pointer;
      display: block;
      flex-grow: 0;
      font-family: inherit;
      overflow: hidden;
      text-decoration: underline;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 90%;

      &.shareable-url-modal__result-url--no-visible {
        display: none;
      }
    }

    .copy-message {
      left: 16px;
      padding-top: 0;
    }

    .pipeline-icon--container {
      display: block;
      right: 6px;
    }
  }

  &__label {
    color: var(--color-description-text);
    font-size: 16px;
    line-height: 20px;
  }

  &__result-action {
    position: relative;
    margin: 0 12px 0 16px;
  }

  .dropdown__label {
    background: var(--input-bg);
    padding: 0 0 0 12px;
  }

  .dropdown__label span,
  .menu-option__content {
    font-size: 14px;
  }
}

.shareable-url-timestamp {
  padding: 4px 8px 8px;
  position: absolute;
  right: 0;
  top: 0;

  p {
    font-size: 12px;
    margin: 0;
  }
}
