@use '../../styles/variables' as colors;

.kui-theme--dark {
  --feedback-form-bg: #{colors.$white-0};
  --feedback-form-content: #{colors.$slate-0};
  --feedback-form-title: #{colors.$black-900};
  --feedback-form--text-area--background: #{colors.$slate-200};
  --feedback-form--text-area--color: #{colors.$white-0};
}

.kui-theme--light {
  --feedback-form-bg: #{colors.$black-900};
  --feedback-form-content: #{colors.$white-0};
  --feedback-form-title: #{colors.$white-0};
  --feedback-form--text-area--background: #{colors.$white-0};
  --feedback-form--text-area--color: #{colors.$black-900};
}

.feedback-form--wrapper {
  background-color: var(--feedback-form-bg);
  border-radius: 8px 0 0 8px;
  min-width: 312px;
  padding: 24px 24px 36px;
  position: fixed;
  right: 0;
  top: 320px;

  .button__btn {
    margin-top: 12px;
  }
}

.feedback-form--wrapper-no-form {
  padding-bottom: 68px;
}

.feedback-form--text-area {
  align-items: center;
  background-color: transparent;
  border: 1px solid grey;
  display: flex;
  height: 104px;
  margin-top: 68px;
  padding: 8px 12px;
  resize: none;
  text-align: center;
  width: 364px;
}

.feedback-form--text-area::placeholder {
  text-align: center;
  margin: auto; /* Centers the placeholder text vertically */
}

.feedback-form--title {
  color: var(--feedback-form-title);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-top: 12px;
  text-align: center;
  margin-bottom: 24px;
}

.feedback-form--close-icon {
  margin-left: auto;
  width: 24px;
  height: 24px;
  cursor: pointer;

  path {
    fill: var(--feedback-form-title);
  }
}

.feedback-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .button__btn {
    border: 1px solid var(--feedback-form-title);
    color: var(--feedback-form-title);
    margin-top: 36px;
    padding: 8px 12px;
  }
}

.feedback-form--message {
  color: var(--feedback-form-title);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 24px 36px;
  width: auto;
}
