@import '../../../styles/extends';
@import '../../../styles/mixins';
@import '../../../styles/variables';
@import './variables';

.pipeline-row__toggle-icon--kind-filter {
  &.pipeline-row__toggle-icon--checked {
    fill: var(--color-nodelist-filter-indicator-on);
    stroke: var(--color-nodelist-filter-indicator-on);
  }

  &.pipeline-row__toggle-icon--unchecked,
  &.pipeline-row__toggle-icon--unset {
    fill: none;
    stroke: var(--color-nodelist-filter-indicator-off);
  }
}

// Fade row text when unchecked
.pipeline-nodelist__row--unchecked .pipeline-nodelist__row__text--kind-filter {
  opacity: 0.55;
}

// Brighter row text when unchecked and hovered
.pipeline-nodelist__row--unchecked:hover
  .pipeline-nodelist__row__text--kind-filter {
  opacity: 0.8;
}

// Bright row text when all unset
.pipeline-nodelist__group--all-unset
  .pipeline-nodelist__row--unchecked
  .pipeline-nodelist__row__text--kind-filter {
  opacity: 1;
}

// Hide all indicators when all unset
.pipeline-nodelist__group--all-unset .pipeline-row__toggle--kind-filter {
  opacity: 0;
}

// Show indicator when all unset and row hovered
.pipeline-nodelist__group--all-unset
  .pipeline-nodelist__row:hover
  .pipeline-row__toggle--kind-filter {
  opacity: 0.55;

  &:hover {
    opacity: 0.55;
  }
}

// Show unchecked indicators as solid blue when all unset
.pipeline-nodelist__group--all-unset
  .pipeline-nodelist__row:hover
  .pipeline-row__toggle-icon--kind-filter {
  fill: $color-primary;
  stroke: $color-primary;
}

.pipeline-row__toggle-icon--kind-filter {
  // Fade indicator when unchecked or unset
  &.pipeline-row__toggle-icon--unchecked,
  &.pipeline-row__toggle-icon--unset {
    // condition 2: semi-bright indicator when checked but not hovered
    opacity: 0.55;
  }

  // brighten up indicator when hovering over toggle all tag button
  &.pipeline-row__toggle-icon--unchecked {
    .pipeline-row-toggle-icon-visible:hover & {
      opacity: 1;
    }
  }

  &.pipeline-row__toggle-icon--checked {
    // condition 3: Bright indicator when checked but not hovered
    opacity: 0.75;

    // condition 4: Brightest indicator when checked and hovered on the entire row
    .pipeline-nodelist__row--visible:hover & {
      opacity: 1;
    }
  }
}
