@import '../../../styles/extends';
@import '../../../styles/mixins';
@import '../../../styles/variables';
@import './variables';

//--- Text label ---//

.pipeline-nodelist__row--unchecked {
  // Fade row text when unchecked
  .pipeline-nodelist__row__label--kind-filter {
    opacity: 0.55;
  }

  // Brighter row text when unchecked and hovered
  &:hover {
    .pipeline-nodelist__row__label--kind-filter {
      opacity: 0.8;
    }
  }

  // Bright row text when all unset
  .pipeline-nodelist__group--all-unset & {
    .pipeline-nodelist__row__label--kind-filter {
      opacity: 1;
    }
  }
}

//--- Toggle icon fills and strokes ---//

.pipeline-row__toggle-icon--kind-filter {
  &.pipeline-row__toggle-icon--checked {
    fill: var(--color-nodelist-filter-indicator-on);
    stroke: var(--color-nodelist-filter-indicator-on);
  }

  &.pipeline-row__toggle-icon--unchecked,
  &.pipeline-row__toggle-icon--unset {
    fill: none;
    stroke: var(--color-nodelist-filter-indicator-off);
  }

  .pipeline-nodelist__row:hover &.pipeline-row__toggle-icon--all-unset,
  [data-whatintent='keyboard'] .pipeline-nodelist__row__checkbox:focus + &,
  &.pipeline-row__toggle-icon--parent {
    fill: $color-primary;
    stroke: $color-primary;
  }
}

//--- Toggle icon opacities ---//

/*
 Parent (toggle all tags):
 | row-hover | icon-hover | checked | opacity | ID |
 |    🚫     |     🚫      |    🚫   |    0    | 0  |
 |    ✅     |     🚫      |    🚫   |   0.3   | 1  |
 |    ✅     |     ✅      |    🚫   |   0.55  | 2  |
 |    🚫     |     🚫      |    ✅   |   0.55  | 2  |
 |    ✅     |     ✅      |    ✅   |   0.75  | 3  |

 Child (individual tag):
 | row-hover | checked | opacity | ID |
 |    🚫     |    🚫    |    0    | 0  |
 |    ✅     |    🚫    |   0.3   | 1  |
 |    🚫     |    ✅    |   0.55  | 2  |
 |    ✅     |    ✅    |   0.75  | 3  |
 */

$icon-opacity-0: 0;
$icon-opacity-1: 0.3;
$icon-opacity-2: 0.55;
$icon-opacity-3: 0.75;

.pipeline-row__toggle-icon--kind-filter {
  // Change opacity on child elements instead, in order to maintain 100% opacity
  // outline on parent SVG element on keyboard focus
  > * {
    opacity: $icon-opacity-1;
  }

  &.pipeline-row__toggle-icon--all-unset {
    > * {
      opacity: $icon-opacity-0;
    }
  }

  .pipeline-nodelist__row:hover & {
    > * {
      opacity: $icon-opacity-1;
    }
  }

  .pipeline-nodelist__row:hover & {
    &.pipeline-row__toggle-icon--parent:hover {
      > * {
        opacity: $icon-opacity-2;
      }
    }
  }

  &.pipeline-row__toggle-icon--checked {
    > * {
      opacity: $icon-opacity-2;
    }
  }

  .pipeline-nodelist__row:hover & {
    &.pipeline-row__toggle-icon--child {
      &.pipeline-row__toggle-icon--checked {
        > * {
          opacity: $icon-opacity-3;
        }
      }
    }
  }

  .pipeline-nodelist__row & {
    &.pipeline-row__toggle-icon--parent:hover {
      &.pipeline-row__toggle-icon--checked {
        > * {
          opacity: $icon-opacity-3;
        }
      }
    }
  }
}
