%nolist {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pipeline-nodelist__list {
  @extend %nolist;

  li {
    @extend %nolist;
  }

  &--nested {
    margin: 0 0 1.2em;
  }

  .pipeline-nodelist__children {
    &--closed {
      display: none;
    }
  }
}

.pipeline-nodelist__heading {
  margin: 0;

  .pipeline-nodelist__row__label {
    font-weight: bold;
  }
}

.pipeline-type-group-toggle {
  position: absolute;
  left: $row-padding-x;
  width: $toggle-size;
  height: $toggle-size;
  margin-right: $toggle-margin-right;
  padding: 0;
  color: inherit;
  color: var(--color-default-alt);
  font-size: 1.16em;
  font-family: inherit;
  line-height: 1em;
  text-align: center;
  background: none;
  border: none;
  border-radius: 50%;
  box-shadow: none;
  cursor: pointer;
  transition: transform ease 0.1s;

  &:focus {
    outline: none;

    [data-whatintent='keyboard'] & {
      box-shadow: 0 0 0 3px $color-link inset;
    }
  }

  &:before {
    font-size: 1.5em;
    opacity: 0.55;
    content: '▾';
  }

  &:hover:before {
    opacity: 1;
  }

  &--alt {
    transform: rotate(-90deg);
  }
}
