/*

  Notes: 
    - any change to row height must be reflected here:
        `nodeListRowHeight` in node-list-row.js

*/

.pipeline-nodelist__row {
  position: relative;
  display: flex;
  align-items: center;

  // force gpu layers to avoid drawing lag on scroll
  transform: translate(0, 0);

  &--active,
  &--visible:hover {
    background-color: var(--color-nodelist-row-active);
  }

  &--selected,
  // additional selector required to increase specificity to override previous rule:
  &--visible#{&}--selected {
    background-color: var(--color-nodelist-row-selected);
  }

  &--disabled {
    pointer-events: none;
  }
}

.pipeline-nodelist__row__icon {
  display: block;
  flex-shrink: 0;
  width: $row-icon-size;
  height: $row-icon-size;
  fill: var(--color-text);

  &--disabled {
    opacity: 0.1;
  }
}

.pipeline-nodelist__row__type-icon {
  margin-right: $row-icon-margin;
  margin-left: -1em;

  &--nested {
    opacity: 0.3;
  }

  &--faded {
    opacity: 0.2;
  }

  &--active,
  &--selected,
  .pipeline-nodelist__row--visible:hover &,
  [data-whatintent='keyboard'] .pipeline-nodelist__row__text:focus & {
    opacity: 1;

    &--faded {
      opacity: 0.55;
    }
  }
}

.pipeline-nodelist__row__text {
  display: flex;
  align-items: center;
  width: 100%;
  padding: $row-padding-y $row-offset-right $row-padding-y $row-offset-left;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  text-align: inherit;
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  cursor: default;
  user-select: none;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 4px $color-link inset;

    [data-whatintent='mouse'] & {
      box-shadow: none;
    }
  }
}

.pipeline-nodelist__row__checkbox {
  @include screenReaderOnly;
}

.pipeline-nodelist__row__label {
  overflow: hidden;
  font-size: 1.48em;
  white-space: nowrap;
  text-overflow: ellipsis;

  &--faded {
    opacity: 0.65;
  }

  &--disabled {
    opacity: 0.3;
  }

  b {
    color: var(--color-nodelist-highlight);
    font-weight: normal;
  }

  i {
    display: inline-block;
    margin-left: 0.45em;
    font-weight: normal;
    font-style: normal;
  }
}

.pipeline-row__toggle {
  position: absolute;
  right: $row-padding-x;
}

.pipeline-row__toggle--not-tag {
  cursor: pointer;
}

.pipeline-row__toggle--disabled {
  display: none;
}

@include transparentColour(
  '--row-selected-transparent',
  $row-selected-light,
  $row-selected-dark
);

.pipeline-row__toggle:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100px;
  display: block;
  width: 100px;
  background: transparent;
  background: linear-gradient(
    90deg,
    var(--row-selected-transparent, 0) 0%,
    var(--color-nodelist-row-selected) 100%
  );
  transform: translate(0, 0);
  opacity: 0;
  content: ' ';
  pointer-events: none;
}

.pipeline-row__toggle--selected:before {
  opacity: 1;
}

.pipeline-row__toggle-icon {
  width: $toggle-icon-size;
  height: $toggle-icon-size;
  padding: $toggle-icon-padding;
  border-radius: 50%;
  opacity: 0;
}

// this class enables the 'eye' icon of nodes to be visible on hover of the nodes
.pipeline-row__toggle-icon--kind-toggle {
  .pipeline-nodelist__row:hover & {
    opacity: 0.55;
  }
}

.pipeline-nodelist__row__checkbox:focus + .pipeline-row__toggle-icon {
  outline: none;

  [data-whatintent='keyboard'] & {
    box-shadow: 0 0 0 3px $color-link inset;
    opacity: 0.55;
  }
}

.pipeline-nodelist__row__checkbox:focus + .pipeline-row__toggle-icon--checked {
  [data-whatintent='keyboard'] & {
    opacity: 1;
  }
}

// Hover states for non-filter type icons
.pipeline-row__toggle-icon--visible:hover {
  .pipeline-nodelist__row & {
    opacity: 1;
  }
}
