/*

  Notes: 
    - any change to row height must be reflected here:
        `nodeListRowHeight` in node-list-row.js

*/

.pipeline-nodelist__row {
  position: relative;
  display: flex;
  align-items: center;

  // force gpu layers to avoid drawing lag on scroll
  transform: translate(0, 0);
  cursor: default;

  &--active,
  &--visible:hover {
    background-color: var(--color-nodelist-row-active);
  }

  &--selected,
  // additional selector required to increase specificity to override previous rule:
  &--visible#{&}--selected {
    background-color: var(--color-nodelist-row-selected);
  }

  &--disabled {
    pointer-events: none;
  }
}

.pipeline-nodelist__row__icon {
  display: block;
  flex-shrink: 0;
  width: $row-icon-size;
  height: $row-icon-size;
  fill: var(--color-text);

  &--disabled > * {
    opacity: 0.1;
  }
}

.pipeline-nodelist__row__type-icon {
  margin-right: $row-icon-margin;
  margin-left: -1em;

  &--nested > * {
    opacity: 0.3;
  }

  &--faded > * {
    opacity: 0.2;
  }

  &--active,
  &--selected,
  .pipeline-nodelist__row--visible:hover &,
  [data-whatintent='keyboard'] .pipeline-nodelist__row__text:focus & {
    > * {
      opacity: 1;
    }

    &--faded > * {
      opacity: 0.55;
    }
  }
}
