@use '../../../styles/variables' as var;
@use './variables';

.MuiTreeItem-iconContainer svg {
  z-index: var.$zindex-MuiTreeItem-icon;
}

.pipeline-nodelist__row {
  position: relative;
  display: flex;
  align-items: center;
  height: 32px; // Fixed row height required for lazy list, apply any changes to node-list-row.js.
  transform: translate(
    0,
    0
  ); // Force GPU layers to avoid drawing lag on scroll.

  background-color: initial;
  cursor: default;

  &--overwrite {
    .Mui-selected & {
      .kui-theme--dark & {
        background-color: var.$slate-200;
      }

      .kui-theme--light & {
        background-color: var.$white-0;
      }
    }
  }

  &--kind-filter {
    padding: 0 variables.$row-offset-right 0 variables.$row-offset-left;
  }

  &--active,
  &--visible:hover {
    background-color: var(--color-nodelist-row-active);
  }

  &--selected,
  &--visible#{&}--selected {
    // Additional selector required to increase specificity to override previous rule
    background-color: var(--color-nodelist-row-selected);
    border-right: 1px solid var.$blue-300;
  }

  &--disabled {
    pointer-events: none;
  }

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100px;
    width: 100px;
    background: var(--color-nodelist-row-selected);
    transform: translate(0, 0);
    opacity: 0;
    content: ' ';
    pointer-events: none;
  }
}

.pipeline-nodelist__row--active::before,
.pipeline-nodelist__row--selected::before,
.pipeline-nodelist__row:hover::before {
  opacity: 1;
}

.pipeline-nodelist__row--overwrite::before {
  .Mui-selected & {
    opacity: 1;
  }
}

.pipeline-nodelist__row__icon {
  display: block;
  flex-shrink: 0;
  width: variables.$row-icon-size;
  height: variables.$row-icon-size;
  fill: var(--color-text);

  &.pipeline-row__toggle-icon--focus-checked {
    fill: var.$blue-300;
  }

  &--disabled > * {
    opacity: 0.1;
  }
}

.pipeline-nodelist__row__type-icon {
  &--nested > * {
    opacity: 0.3;
  }

  &--faded > * {
    opacity: 0.2;
  }

  &--active,
  &--selected,
  .pipeline-nodelist__row--visible:hover &,
  [data-whatintent='keyboard'] .pipeline-nodelist__row__text:focus & {
    > * {
      opacity: 1;
    }

    &--faded > * {
      opacity: 0.55;
    }
  }
}
