.pipeline-nodelist__row {
  position: relative;
  display: flex;
  align-items: center;
  transition: background-color ease $row-transition;

  &--active,
  &--visible:hover {
    .kui-theme--light & {
      background-color: darken($color-bg-light-alt2, 4%);
    }

    .kui-theme--dark & {
      background-color: lighten($color-bg-dark-alt2, 4%);
    }
  }

  &--selected,
  // additional selector required to increase specificity to override previous rule:
  &--visible#{&}--selected {
    .kui-theme--light & {
      background-color: darken($color-bg-light-alt2, 10%);
    }

    .kui-theme--dark & {
      background-color: lighten($color-bg-dark-alt2, 10%);
    }
  }

  &--disabled {
    pointer-events: none;
  }
}

.pipeline-nodelist__row__icon {
  display: block;
  flex-shrink: 0;
  width: $row-icon-size;
  height: $row-icon-size;
  transition: opacity ease $row-transition;

  .kui-theme--light & {
    fill: $color-text-light;
  }

  .kui-theme--dark & {
    fill: $color-text-dark;
  }
}

.pipeline-nodelist__row__type-icon {
  margin-right: $row-icon-margin;

  &--nested {
    opacity: 0;
  }

  .pipeline-nodelist__row:hover &,
  .pipeline-nodelist__row--active &,
  .pipeline-nodelist__row--selected &,
  [data-whatintent='keyboard'] .pipeline-nodelist__row__text:focus & {
    opacity: 1;

    &--faded {
      opacity: 0.55;
    }
  }
}

.pipeline-nodelist__row__text {
  display: flex;
  align-items: center;
  width: 100%;
  padding: $row-padding-y $row-offset-right $row-padding-y $row-offset-left;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  letter-spacing: inherit;
  text-align: inherit;
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  cursor: default;
  transition: opacity ease $row-transition;

  &:focus {
    outline: 4px solid $color-link;

    [data-whatintent='mouse'] & {
      outline: none;
    }
  }
}

.pipeline-nodelist__row__checkbox {
  @include screenReaderOnly;
}

.pipeline-nodelist__row__label {
  overflow: hidden;
  font-size: 1.6em;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: opacity ease $row-transition;

  &--faded {
    opacity: 0.55;
  }

  b {
    font-weight: normal;
    opacity: 0.3;
  }
}

.pipeline-nodelist__row__visibility {
  position: absolute;
  right: $row-padding-x;
  cursor: pointer;
}

.pipeline-nodelist__row__visibility-icon {
  width: $visibility-icon-size;
  height: $visibility-icon-size;
  padding: $visibility-icon-padding;
  border-radius: 50%;
  opacity: 0;

  &--unchecked,
  .pipeline-nodelist__row__text:focus + label &,
  .pipeline-nodelist__row:hover & {
    opacity: 0.55;
  }

  .pipeline-nodelist__row:hover &:hover {
    opacity: 1;
  }

  .pipeline-nodelist__row__checkbox:focus + & {
    outline: none;

    [data-whatintent='keyboard'] & {
      box-shadow: 0 0 0 3px $color-link inset;
      opacity: 1;
    }
  }
}

.pipeline-nodelist__row__checkbox {
  @include screenReaderOnly;
}
