.pipeline-nodelist-search {
  padding: 14px 12px 12px;

  .kui-theme--light & {
    background: $color-bg-light-alt2;
  }

  .kui-theme--dark & {
    background: $color-bg-dark-alt2;
  }

  .kui-searchbar,
  .kui-input-wrapper {
    max-width: none;
  }
}
