@import '../../../styles/extends';
@import '../../../styles/mixins';
@import '../../../styles/variables';
@import './variables';

.pipeline-nodelist-section__title {
  display: block;
  margin: 12px 0 12px 20px;
  font-weight: bold;
  font-size: 1.3em;
  user-select: none;

  .kui-theme--dark & {
    color: rgba(255, 255, 255, 0.55);
  }

  .kui-theme--light & {
    color: rgba(0, 0, 0, 0.55);
  }
}
