@import '../../../styles/extends';
@import '../../../styles/mixins';
@import '../../../styles/variables';
@import './variables';

.pipeline-nodelist-section__title {
  display: block;
  margin: 6px 0 12px 20px;
  font-weight: bold;
  font-size: 1.38em;
  opacity: 0.65;
  user-select: none;
}
