@import '../../../styles/extends';
@import '../../../styles/mixins';
@import '../../../styles/variables';
@import './variables';

.pipeline-nodelist__item--tags {
  .kui-theme--dark & .pipeline-nodelist__row__visibility-icon {
    &--checked {
      fill: #00cefc;
      stroke: #00cefc;
    }

    &--unchecked,
    &--unset {
      stroke: #80969c;
    }
  }

  .kui-theme--light & .pipeline-nodelist__row__visibility-icon {
    &--checked {
      fill: #00cefc;
      stroke: #00cefc;
    }

    &--unchecked,
    &--unset {
      stroke: #80969c;
    }
  }

  // Always show row parent text
  .pipeline-nodelist__heading
    > .pipeline-nodelist__row
    .pipeline-nodelist__row__text {
    opacity: 1;
  }

  // Fade row text when unchecked
  .pipeline-nodelist__row--unchecked .pipeline-nodelist__row__text {
    opacity: 0.55;
  }

  // Brighter row text when unchecked and hovered
  .pipeline-nodelist__row--unchecked:hover .pipeline-nodelist__row__text {
    opacity: 0.8;
  }

  // Bright row text when all unset
  &.pipeline-nodelist__item--all-unset
    .pipeline-nodelist__row--unchecked
    .pipeline-nodelist__row__text {
    opacity: 1;
  }

  // Hide all indicators when all unset
  &.pipeline-nodelist__item--all-unset .pipeline-nodelist__row__visibility {
    opacity: 0;
  }

  // Show indicator when row hovered
  &.pipeline-nodelist__item--all-unset
    .pipeline-nodelist__row:hover
    .pipeline-nodelist__row__visibility {
    opacity: 1;
  }

  .pipeline-nodelist__row__visibility-icon--unchecked,
  .pipeline-nodelist__row__visibility-icon--unset {
    .kui-theme--light &,
    .kui-theme--dark & {
      opacity: 1;
    }
  }

  .pipeline-nodelist__row__visibility-icon--checked {
    .kui-theme--light &,
    .kui-theme--dark & {
      opacity: 1;
    }
  }
}
