//-- Layout --//

$row-padding-y: 0.68em;
$row-padding-x: 2.2em;
$row-label-padding-x: $row-padding-x * 0.8;
$row-icon-margin: 0.8em;
$row-icon-size: 2.2em;
$toggle-margin-left: $row-padding-x;
$toggle-icon-padding: 0.3em;
$toggle-icon-size: 2.1em + $toggle-icon-padding * 2;
$toggle-size: 2.2em + $toggle-icon-padding * 2;
$section-title-padding-x: $row-padding-x * 0.7;
$row-offset-left: 2.6em;
$row-offset-right: 1.6em;

//-- Colours --//

// Light:
$row-active-light: darken($color-bg-light-3, 3%);
$row-selected-light: darken($color-bg-light-3, 8%);
$filter-indicator-on-light: $color-primary;
$filter-indicator-off-light: rgba(black, 0.55);

// Dark:
$row-active-dark: lighten($color-bg-dark-3, 3%);
$row-selected-dark: lighten($color-bg-dark-3, 8%);
$filter-indicator-on-dark: $color-primary;
$filter-indicator-off-dark: rgba(white, 0.45);
