//-- Layout --//

$toggle-size: 2.4em;
$toggle-margin-right: 1em;
$row-padding-y: 0.68em;
$row-padding-x: 1.52em;
$row-icon-margin: 0.8em;
$row-icon-size: 2.2em;
$toggle-icon-padding: 0.3em;
$toggle-icon-size: 2.1em + $toggle-icon-padding * 2;
$row-offset-left: $row-padding-x + $toggle-size + $toggle-margin-right;
$row-offset-right: $row-padding-x + $row-icon-size + $row-icon-margin;

//-- Colours --//

// Light:
$row-active-light: darken($color-bg-light-3, 3%);
$row-selected-light: darken($color-bg-light-3, 8%);
$filter-indicator-on-light: $color-primary;
$filter-indicator-off-light: rgba(black, 0.55);

// Dark:
$row-active-dark: lighten($color-bg-dark-3, 3%);
$row-selected-dark: lighten($color-bg-dark-3, 8%);
$filter-indicator-on-dark: $color-primary;
$filter-indicator-off-dark: rgba(white, 0.45);
