@import '../../../styles/extends';
@import '../../../styles/mixins';
@import '../../../styles/variables';
@import './variables';
@import './search';
@import './section';
@import './group';
@import './row';
@import './row-label';
@import './row-toggle';
@import './panels';

.kui-theme--light {
  --color-nodelist-row-active: #{$row-active-light};
  --color-nodelist-row-selected: #{$row-selected-light};
  --color-nodelist-filter-indicator-on: #{$filter-indicator-on-light};
  --color-nodelist-filter-indicator-off: #{$filter-indicator-off-light};
  --color-nodelist-highlight: #{darken($color-primary, 10%)};
  --color-nodelist-split-handle: #555;
  --color-nodelist-split-handle-border: #{rgba(#555, 0.18)};
  --color-nodelist-filter-panel: #{$color-bg-light-4};
  --color-nodelist-element-panel: #{$color-bg-light-3};
}

.kui-theme--dark {
  --color-nodelist-row-active: #{$row-active-dark};
  --color-nodelist-row-selected: #{$row-selected-dark};
  --color-nodelist-filter-indicator-on: #{$filter-indicator-on-dark};
  --color-nodelist-filter-indicator-off: #{$filter-indicator-off-dark};
  --color-nodelist-highlight: #{$color-primary};
  --color-nodelist-split-handle: #fff;
  --color-nodelist-split-handle-border: #{rgba(#fff, 0.15)};
  --color-nodelist-filter-panel: #{$color-bg-dark-5};
  --color-nodelist-element-panel: #{$color-bg-dark-3};
}

@include transparentColour(
  '--color-nodelist-bg-transparent',
  $color-bg-light-3,
  $color-bg-dark-3
);

@include transparentColour(
  '--color-nodelist-bg-filter-transparent',
  $color-bg-light-4,
  $color-bg-dark-5
);

.pipeline-nodelist {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 1.8em;

  &:before,
  > * {
    // Transition opacity instead of background-color for GPU acceleration
    transition: opacity ease 0.2s;
  }

  &:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: var(--color-bg-2);
    opacity: 0;
    content: '';
  }

  &--fade {
    > * {
      opacity: 0.2;
    }

    &:before {
      opacity: 1;
    }
  }
}
