@use '../../styles/variables' as variables;

$panel-width: 484px;
$spacing-left: 48px;

.update-reminder {
  position: relative;
  z-index: variables.$zindex-update-reminder;
}

%h3 {
  font-size: 20px;
  margin-top: 0;
  padding-left: $spacing-left;
}

%paragraph {
  font-size: 14px;
  line-height: 20px;
  padding-left: $spacing-left;
  width: 430px;

  a {
    color: variables.$blue-900;
  }
}

.kui-theme--light {
  --color-detail-bg: #{variables.$white-400};
  --color-header-bg: #{variables.$yellow-0};
  --color-header-bg--up-to-date: #{variables.$grey-400};
  --color-header-text--up-to-date: #{variables.$black-900};
  --color-link: #{variables.$blue-600};
  --color-subtext: #{variables.$black-400};
  --color-content-bg: #{variables.$white-300};
  --color-version-tag: #{variables.$black-900};
  --color-version-tag--hover-outdated: #{variables.$black-900};
  --color-version-tag--hover-up-to-date-bg: #{variables.$black-300};
  --color-version-tag--hover-up-to-date: #{variables.$white-0};
}

.kui-theme--dark {
  --color-detail-bg: #{variables.$slate-300};
  --color-header-bg: #{variables.$yellow-0};
  --color-header-bg--up-to-date: #{variables.$white-0};
  --color-header-text--up-to-date: #{variables.$black-900};
  --color-link: #{variables.$blue-300};
  --color-subtext: #{variables.$black-400};
  --color-content-bg: #{variables.$slate-300};
  --color-version-tag: #{variables.$white-500};
  --color-version-tag--hover-outdated: #{variables.$black-900};
  --color-version-tag--hover-up-to-date-bg: #{variables.$black-400};
  --color-version-tag--hover-up-to-date: #{variables.$white-500};
}

.update-reminder-unexpanded {
  background-color: var(--color-header-bg);
  display: flex;
  font-size: 12px;
  height: 32px;
  justify-content: space-between;
  padding: 0 50px 0 24px;
  position: absolute;
  right: 0;
  top: 0;
  width: $panel-width;
  z-index: variables.$zindex-update-reminder-elements;

  p {
    color: variables.$slate-700;
    text-align: center;
    margin-top: 7.5px;
    font-size: 12px;
  }

  .buttons-container {
    margin-top: 6.5px;
  }

  button {
    background-color: var(--color-header-bg);
    border: none;
    color: variables.$black-700;
    cursor: pointer;
    font-size: 12px;
    padding: 0;
    transition: color 0.2s ease;

    &:first-of-type {
      font-weight: 600;
      margin-right: 24px;
    }

    &:hover {
      color: variables.$black-800;
    }
  }
}

.update-reminder-expanded-header {
  background-color: var(--color-header-bg);
  display: flex;
  font-size: 12px;
  height: 36px;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  top: 0;
  width: $panel-width;
  z-index: variables.$zindex-update-reminder-elements;

  .close-button-container {
    margin-right: 20px;
  }

  .close-button {
    svg {
      fill: variables.$black-800;
      height: 24px;
      width: 24px;
    }
  }

  &--up-to-date {
    background-color: var(--color-header-bg--up-to-date);

    .close-button {
      svg {
        fill: var(--color-header-text--up-to-date);
      }
    }
  }
}

.update-reminder-expanded-detail {
  background-color: var(--color-header-bg);
  color: variables.$black-900;
  padding-bottom: 40px;
  position: absolute;
  right: 0;
  top: 36px;
  width: $panel-width;
  z-index: variables.$zindex-update-reminder-elements;

  &--up-to-date {
    background-color: var(--color-header-bg--up-to-date);
    color: var(--color-header-text--up-to-date);
  }

  h3 {
    @extend %h3;
  }

  p {
    @extend %paragraph;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .subtext {
    color: var(--color-subtext);
    font-size: 13px;
    margin-bottom: 0;
    padding-top: 20px;

    &--small {
      font-size: 12px;
      margin: 0 0 50px;
    }
  }

  .command-copier {
    font-size: 14px;
    padding-left: $spacing-left;
    width: 400px;
  }

  .pipeline-icon {
    fill: variables.$black-900;
  }
}

.update-reminder-expanded-content {
  background-color: var(--color-content-bg);
  border-left: 1px solid var(--color-border-line);
  height: calc(100vh - 270px);
  overflow-y: scroll;
  padding-right: 56px;
  padding-top: 40px;
  position: absolute;
  right: 0;
  top: 270px;
  width: $panel-width;
  z-index: variables.$zindex-update-reminder-elements;

  &--up-to-date {
    height: calc(100vh - 144px);
    top: 144px;
  }

  &--feature {
    margin-bottom: 68px;
  }

  h3 {
    @extend %h3;

    margin-bottom: 12px;
  }

  h4 {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    margin: 40px 0 20px;
    padding-left: $spacing-left;
  }

  img {
    max-width: 380px;
    margin-left: $spacing-left;
  }

  p {
    @extend %paragraph;
  }

  .button {
    margin-top: 12px;
    padding-left: $spacing-left;
  }
}

.update-reminder-version-tag {
  color: var(--color-version-tag);
  cursor: pointer;
  font-size: 12px;
  padding: 4px 8px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: variables.$zindex-update-reminder-elements;

  &--outdated {
    &:hover {
      background-color: variables.$yellow-0;
      color: var(--color-version-tag--hover-outdated);

      > span {
        background-color: variables.$yellow-600;
      }
    }

    > span {
      background-color: variables.$yellow-0;
      border-radius: 50%;
      display: inline-block;
      height: 8px;
      margin-right: 8px;
      width: 8px;
    }
  }

  &--up-to-date {
    &:hover {
      background-color: var(--color-version-tag--hover-up-to-date-bg);
      color: var(--color-version-tag--hover-up-to-date);
    }
  }
}
