@use '../../styles/variables' as colors;

.kui-theme--light {
  --color-detail-bg: #{colors.$white-400};
  --color-header-bg: #{colors.$yellow-300};
  --color-link: #{colors.$blue-600};
  --color-subtext: #{colors.$black-700};
}

.kui-theme--dark {
  --color-detail-bg: #{colors.$slate-300};
  --color-header-bg: #{colors.$yellow-300};
  --color-link: #{colors.$blue-300};
  --color-subtext: #{colors.$black-0};
}

.update-reminder-unexpanded {
  background-color: var(--color-header-bg);
  display: flex;
  font-size: 12px;
  height: 32px;
  justify-content: space-around;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 296px;
  z-index: 2;

  p {
    color: colors.$slate-700;
    text-align: center;
    margin-top: 7.5px;
    font-size: 12px;
  }

  .buttons-container {
    margin-top: 6.5px;
  }

  button {
    background-color: var(--color-header-bg);
    border: none;
    color: colors.$black-700;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    transition: color 0.2s ease;

    &:hover {
      color: colors.$black-800;
    }
  }
}

.update-reminder-expanded-header {
  background-color: var(--color-header-bg);
  display: flex;
  font-size: 12px;
  height: 48px;
  justify-content: space-between;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 484px;
  z-index: 2;

  .close-button-container {
    margin-right: 20px;
  }

  p {
    color: colors.$slate-700;
    font-size: 16px;
    margin-top: 6px;
    padding: 6px 48px;
  }

  button {
    color: colors.$slate-700;
    border: none;
    background-color: var(--color-header-bg);
    font-size: 16px;
    padding: 0 0 5px 24px;
    cursor: pointer;
  }
}

.update-reminder-expanded-detail {
  background-color: var(--color-detail-bg);
  position: absolute;
  right: 0px;
  top: 48px;
  width: 484px;
  z-index: 2;

  p {
    font-size: 14px;
    padding-left: 48px;
    padding-top: 30px;
    width: 430px;

    a {
      color: var(--color-link);
    }
  }

  .subtext {
    color: var(--color-subtext);
    font-size: 13px;
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-top: 20px;

    &--small {
      font-size: 12px;
      margin: 0 0 50px;
    }
  }

  .command-copier {
    font-size: 14px;
    padding-left: 48px;
    width: 400px;
  }
}

.close-button {
  svg {
    fill: colors.$black-800;
    height: 24px;
    width: 24px;
  }
}
