@import '../../styles/variables';

.kui-theme--light {
  --color-header-bg: #{$color-accent-yellow};
  --color-detail-bg: #{$color-bg-light-4};
  --color-text: #{$color-bg-light-2};
  --color-subtext: #{$color-text-light-2};
}

.kui-theme--dark {
  --color-header-bg: #{$color-accent-yellow};
  --color-detail-bg: #{$color-bg-dark-4};
  --color-text: #{$color-bg-dark-2};
  --color-subtext: #{$color-text-dark-2};
}

.update-reminder-unexpanded {
  height: 32px;
  width: 296px;
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: var(--color-header-bg);
  z-index: 2;
  font-size: 12px;
  display: flex;
  justify-content: space-around;

  p {
    color: $color-bg-dark-2;
    text-align: center;
    margin-top: 7.5px;
    font-size: 12px;
  }

  .buttons-container {
    margin-top: 6.5px;
  }

  button {
    color: $color-bg-dark-2;
    border: none;
    background-color: var(--color-header-bg);
    font-size: 12px;
    cursor: pointer;
  }
}

.update-reminder-expanded-header {
  height: 48px;
  width: 484px;
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: var(--color-header-bg);
  z-index: 2;
  font-size: 12px;
  display: flex;
  justify-content: space-between;

  .close-button-container {
    margin-right: 20px;
  }

  p {
    color: $color-bg-dark-2;
    padding: 6px 48px;
    margin-top: 6px;
    font-size: 16px;
  }

  button {
    color: $color-bg-dark-2;
    border: none;
    background-color: var(--color-header-bg);
    font-size: 16px;
    padding: 0 0 5px 24px;
    cursor: pointer;
  }
}

.update-reminder-expanded-detail {
  height: 340px;
  width: 484px;
  position: absolute;
  right: 0px;
  top: 48px;
  z-index: 2;
  background-color: var(--color-detail-bg);

  p {
    padding-top: 30px;
    padding-left: 48px;
    font-size: 14px;
    width: 430px;

    a {
      color: $color-primary-2;
    }
  }

  .subtext {
    padding-top: 20px;
    font-size: 12px;
    color: var(--color-subtext);
  }

  .command-copier {
    padding-left: 48px;
    font-size: 14px;
    width: 400px;
  }
}

.close-button {
  svg {
    width: 24px;
    height: 24px;
    fill: $color-text-dark-alt;
  }
}
