@use '../../../styles/variables' as colors;

$triangle-size: 10px;

.tooltip {
  background: white;
  display: flex;
  flex-direction: column;
  opacity: 0;
  padding: 10px 30px 10px 10px;
  position: absolute;
}

.tooltip--show {
  opacity: 1;
}

.tooltip-arrow {
  display: inline-block;

  position: absolute;
  white-space: nowrap;

  top: 22px;
  left: 1px;

  margin-top: -1.2em;
  margin-right: 1.6em;

  width: 0;
  height: 0;
}

.tooltip-arrow--right {
  &::before {
    position: absolute;

    width: 0;
    height: 0;

    content: '';

    top: calc(50% - #{$triangle-size});
    left: -$triangle-size + 0.5;

    border-top: $triangle-size solid var(--color-bg-alt);
    border-left: $triangle-size solid transparent;
  }
}

.tooltip-arrow--left {
  &::before {
    position: absolute;

    width: 0;
    height: 0;

    content: '';

    top: calc(50% - #{$triangle-size});
    right: -225.5px;

    border-top: $triangle-size solid var(--color-bg-alt);
    border-right: $triangle-size solid transparent;
  }
}

.tooltip-label,
.tooltip-value {
  font-size: 12px;
  margin: 0;

  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tooltip-label {
  color: #{colors.$black-500};
}

.tooltip-value {
  color: #{colors.$black-900};
}
