@import '../../styles/variables';

.flowchart {
  position: relative;
}

.flowchart__graph {
  display: block;
}

.node {
  text {
    fill: rgba(white, 0.8);
    font-weight: bold;
    pointer-events: none;
    transition: all ease 0.1s;
  }
}

.node--icon {
  circle,
  rect {
    fill: lighten($color-bg-dark, 10%);
    stroke: rgba(#000, 0.15);
    stroke-width: 1px;
    transition: all ease 0.1s;
  }
}

.node--text {
  rect {
    fill: darken($color-bg-dark, 2%);
    stroke: darken($color-bg-dark, 3%);
    stroke-width: 1px;
    transition: all ease 0.1s;
  }

  &.node--data {
    rect {
      stroke: mix(white, $color-bg-dark, 30%);
      stroke-width: 2px;
    }
  }
}

.node--icon {
  text {
    opacity: 0;
  }

  &.node--data {
    rect {
      opacity: 0;
    }
  }

  &.node--task {
    circle {
      opacity: 0;
    }
  }
}

.node--text {
  image,
  circle {
    opacity: 0;
  }
}

.node--active {
  &.node--icon {
    circle,
    rect {
      fill: lighten($color-bg-dark, 20%);
      stroke-width: 1.5px;
      stroke: #fff;
    }
  }

  &.node--text {
    rect {
      fill: darken($color-bg-dark, 4%);
      stroke: mix(white, $color-bg-dark, 70%);
      stroke-width: 2px;
    }
  }

  text {
    fill: white;
  }
}

.node--faded {
  opacity: 0.3;
}

.edge path {
  fill: none;
  stroke: $color-edge;
  stroke-width: 1.5px;
}

.edge--faded {
  opacity: 0.1;
}

.flowchart__arrowhead {
  fill: $color-edge;
}

.flowchart__tooltip {
  position: absolute;
  top: -80px;
  left: -20px;
  padding: 12px 20px;
  background: $color-tooltip-bg;
  color: white;
  opacity: 0;
  transition: opacity ease 0.1s;
  pointer-events: none;
  z-index: 9;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

  &.tooltip--visible {
    opacity: 1;
  }

  &.tooltip--right {
    left: auto;
    right: -20px;

    &::before {
      left: auto;
      right: 10px;
    }
  }

  &::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: $color-tooltip-bg transparent transparent;
  }

  b {
    display: block;
    font-size: 15px;
    margin-bottom: 3px;
  }
  small {
    display: block;
    font-size: 10px;
  }

  body.menu-visible & {
    @media (min-width: $breakpoint-small) {
      left: -($nav-width / 4) - 20px;
    }
    @media (min-width: $breakpoint-large) {
      left: -($nav-width / 2) - 20px;
    }

    &.tooltip--right {
      left: auto;
      @media (min-width: $breakpoint-small) {
        right: ($nav-width / 4) - 20px;
      }
      @media (min-width: $breakpoint-large) {
        right: ($nav-width / 2) - 20px;
      }
    }
  }
}
