.pipeline-flowchart {
  position: relative;
  height: 100%; }

.pipeline-flowchart__graph {
  display: block; }

.node text {
  fill: rgba(255, 255, 255, 0.8);
  font-weight: bold;
  pointer-events: none;
  transition: all ease 0.1s; }

.node--icon circle,
.node--icon rect {
  fill: #2e4b5c;
  stroke: rgba(0, 0, 0, 0.15);
  stroke-width: 1px;
  transition: all ease 0.1s; }

.node--text rect {
  fill: #1a2933;
  stroke: #182730;
  stroke-width: 1px;
  transition: all ease 0.1s; }

.node--text.node--data rect {
  stroke: #616d75;
  stroke-width: 2px; }

.node--icon text {
  opacity: 0; }

.node--icon.node--data rect {
  opacity: 0; }

.node--icon.node--task circle {
  opacity: 0; }

.node--text image,
.node--text circle {
  opacity: 0; }

.node--active.node--icon circle,
.node--active.node--icon rect {
  fill: #3f667e;
  stroke-width: 1.5px;
  stroke: #fff; }

.node--active.node--text rect {
  fill: #16242c;
  stroke: #bbc1c4;
  stroke-width: 2px; }

.node--active text {
  fill: white; }

.node--faded {
  opacity: 0.3; }

.edge path {
  fill: none;
  stroke: #dde0e1;
  stroke-width: 1.5px; }

.edge--faded {
  opacity: 0.1; }

.pipeline-flowchart__arrowhead {
  fill: #dde0e1; }

.pipeline-flowchart__tooltip {
  position: absolute;
  top: -60px;
  left: -20px;
  padding: 12px 20px;
  background: rgba(23, 32, 38, 0.9);
  color: white;
  opacity: 0;
  transition: opacity ease 0.1s;
  pointer-events: none;
  z-index: 9;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); }
  .pipeline-flowchart__tooltip.tooltip--visible {
    opacity: 1; }
  .pipeline-flowchart__tooltip.tooltip--right {
    left: auto;
    right: -20px; }
    .pipeline-flowchart__tooltip.tooltip--right::before {
      left: auto;
      right: 10px; }
  .pipeline-flowchart__tooltip::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: rgba(23, 32, 38, 0.9) transparent transparent; }
  .pipeline-flowchart__tooltip b {
    display: block;
    font-size: 15px;
    margin-bottom: 3px;
    font-weight: normal; }
  .pipeline-flowchart__tooltip small {
    display: block;
    font-size: 10px; }
  @media (min-width: 480px) {
    body.menu-visible .pipeline-flowchart__tooltip {
      left: -120px; } }
  @media (min-width: 1100px) {
    body.menu-visible .pipeline-flowchart__tooltip {
      left: -220px; } }
  body.menu-visible .pipeline-flowchart__tooltip.tooltip--right {
    left: auto; }
    @media (min-width: 480px) {
      body.menu-visible .pipeline-flowchart__tooltip.tooltip--right {
        right: 80px; } }
    @media (min-width: 1100px) {
      body.menu-visible .pipeline-flowchart__tooltip.tooltip--right {
        right: 180px; } }
