.flowchart {
  position: relative; }

.flowchart__graph {
  display: block; }
  .flowchart__graph .node text {
    fill: rgba(255, 255, 255, 0.8);
    pointer-events: none;
    transition: all ease 0.1s; }
  .flowchart__graph .node circle {
    fill: #2e4b5c;
    stroke: rgba(0, 0, 0, 0.15);
    stroke-width: 1px;
    transition: all ease 0.1s; }
  .flowchart__graph .node rect {
    fill: #1a2933;
    stroke: #182730;
    stroke-width: 1px;
    transition: all ease 0.1s; }
  .flowchart__graph .node--icon text,
  .flowchart__graph .node--icon rect {
    opacity: 0; }
  .flowchart__graph .node--text image,
  .flowchart__graph .node--text circle {
    opacity: 0; }
  .flowchart__graph .node--active circle {
    fill: #3f667e;
    stroke-width: 1.5px;
    stroke: #fff; }
  .flowchart__graph .node--active rect {
    fill: #16242c;
    stroke: #152129; }
  .flowchart__graph .node--active text {
    fill: white; }
  .flowchart__graph .node--faded {
    opacity: 0.3; }
  .flowchart__graph .edge path {
    fill: none;
    stroke: #dde0e1;
    stroke-width: 1.5px; }
  .flowchart__graph .edge--faded {
    opacity: 0.1; }

.flowchart__arrowhead {
  fill: #dde0e1; }

.flowchart__tooltip {
  position: absolute;
  top: -80px;
  left: -20px;
  padding: 12px 20px;
  background: rgba(23, 32, 38, 0.9);
  color: white;
  opacity: 0;
  transition: opacity ease 0.1s;
  pointer-events: none;
  z-index: 9;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); }
  .flowchart__tooltip.tooltip--visible {
    opacity: 1; }
  .flowchart__tooltip.tooltip--right {
    left: auto;
    right: -20px; }
    .flowchart__tooltip.tooltip--right::before {
      left: auto;
      right: 10px; }
  .flowchart__tooltip::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: rgba(23, 32, 38, 0.9) transparent transparent; }
  .flowchart__tooltip b {
    display: block;
    font-size: 15px;
    margin-bottom: 3px; }
  .flowchart__tooltip small {
    display: block;
    font-size: 10px; }
  @media (min-width: 480px) {
    body.menu-visible .flowchart__tooltip {
      left: -120px; } }
  @media (min-width: 1100px) {
    body.menu-visible .flowchart__tooltip {
      left: -220px; } }
  body.menu-visible .flowchart__tooltip.tooltip--right {
    left: auto; }
    @media (min-width: 480px) {
      body.menu-visible .flowchart__tooltip.tooltip--right {
        right: 80px; } }
    @media (min-width: 1100px) {
      body.menu-visible .flowchart__tooltip.tooltip--right {
        right: 180px; } }
