@import '../../styles/variables';

.pipeline-flowchart {
  height: 100%;
}

.pipeline-flowchart__graph {
  display: block;
}

.node {
  svg,
  text {
    pointer-events: none;
  }

  text {
    font-weight: bold;
    pointer-events: none;
    transition: all ease 0.1s;
    font-weight: 600;
    pointer-events: none;

    .kui-theme--light & {
      fill: rgba($color-text-dark, 0.95);
    }

    .kui-theme--dark & {
      fill: rgba($color-text-dark, 0.8);
    }
  }
}

.node--icon {
  circle,
  rect {
    stroke-width: 1px;
    transition: all ease 0.1s;

    .kui-theme--light & {
      stroke: lighten($color-text-light, 6%);
      fill: lighten($color-text-light, 10%);
    }

    .kui-theme--dark & {
      stroke: darken($color-bg-dark, 3%);
      fill: lighten($color-bg-dark, 10%);
    }
  }
}

.node__icon__fill {
  fill: $color-text-dark;
}

.node--text {
  rect {
    stroke-width: 1px;
    transition: all ease 0.1s;

    .kui-theme--light & {
      stroke: lighten($color-text-light, 2%);
      fill: lighten($color-text-light, 6%);
    }

    .kui-theme--dark & {
      stroke: darken($color-bg-dark, 3%);
      fill: darken($color-bg-dark, 2%);
    }
  }

  &.node--data {
    rect {
      stroke-width: 2px;

      .kui-theme--light & {
        stroke: mix(black, $color-text-light, 30%);
      }

      .kui-theme--dark & {
        stroke: mix(white, $color-bg-dark, 30%);
      }
    }
  }
}

.node--icon {
  text {
    opacity: 0;
  }

  &.node--data {
    rect {
      opacity: 0;
      pointer-events: none;
    }
  }

  &.node--task {
    circle {
      opacity: 0;
      pointer-events: none;
    }
  }
}

.node--text {
  svg,
  circle {
    opacity: 0;
    pointer-events: none;
  }
}

.node--active {
  &.node--icon {
    circle,
    rect {
      stroke-width: 1.5px;

      .kui-theme--light & {
        stroke: darken($color-text-light, 5%);
        fill: darken($color-text-light, 2%);
      }

      .kui-theme--dark & {
        fill: lighten($color-bg-dark, 20%);
        stroke: $color-text-dark;
      }
    }
  }

  &.node--text {
    rect {
      stroke-width: 2px;

      .kui-theme--light & {
        stroke: darken($color-text-light, 12%);
        fill: darken($color-text-light, 6%);
      }

      .kui-theme--dark & {
        fill: darken($color-bg-dark, 4%);
        stroke: mix(white, $color-bg-dark, 70%);
      }
    }
  }

  text {
    fill: white;
  }
}

.node--faded {
  opacity: 0.3;
}

.edge path {
  fill: none;
  stroke-width: 1.5px;

  .kui-theme--light & {
    stroke: $color-edge-light;
  }

  .kui-theme--dark & {
    stroke: $color-edge-dark;
  }
}

.edge--faded {
  opacity: 0.1;
}

.pipeline-flowchart__arrowhead {
  .kui-theme--light & {
    fill: $color-edge-light;
  }

  .kui-theme--dark & {
    fill: $color-edge-dark;
  }
}

.pipeline-flowchart__tooltip {
  position: absolute;
  top: -60px;
  left: -20px;
  padding: 12px 20px;
  color: white;
  opacity: 0;
  visibility: hidden;
  transition: opacity ease 0.1s, visibility ease 0.1s;
  pointer-events: none;
  z-index: 9;

  .kui-theme--light & {
    background: $color-tooltip-bg-light;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  }

  .kui-theme--dark & {
    background: $color-tooltip-bg-dark;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }

  &.tooltip--visible {
    opacity: 1;
    visibility: visible;
  }

  &.tooltip--right {
    left: auto;
    right: -20px;

    &::before {
      left: auto;
      right: 10px;
    }
  }

  &::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: transparent;

    .kui-theme--light & {
      border-top-color: $color-tooltip-bg-light;
    }

    .kui-theme--dark & {
      border-top-color: $color-tooltip-bg-dark;
    }
  }

  span {
    font-size: 1.5em;
  }
}
