.kedro .rct-node-icon {
  color: inherit;
}

.kedro .react-checkbox-tree {
  padding-left: 1.52em;
  font-size: 10px;
}

.kedro .rct-title,
.kedro .rct-node-icon,
.kedro .rct-checkbox {
  font-size: 1.48em;
}

.kedro .rct-title {
  padding: 0.68em;
}

.kedro .react-checkbox-tree label {
  white-space: nowrap;
}

.kedro .rct-collapse {
  width: 10px;
  padding: 0;
}
