@use '../../../styles/variables' as colors;

.kui-theme--light {
  --color-run-list-highlight: #{colors.$blue-300};
  --color-run-list-bookmark: #{colors.$black-800};
}

.kui-theme--dark {
  --color-run-list-highlight: #{colors.$blue-300};
  --color-run-list-bookmark: #{colors.$white-600};
}

.runs-list-card {
  align-items: flex-start;
  background: var(--color-bg-4);
  border-bottom: 1px solid var(--color-run-list-divider);
  display: flex;
  padding: 1.6em 2.8em 2em 3em;

  &--active {
    background: var(--color-run-list-hover);
    box-shadow: -1px 0px 0px inset colors.$blue-300;
  }

  &--disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.runs-list-card--hovered {
  background: var(--color-run-list-hover);

  cursor: pointer;

  .runs-list-card__bookmark--stroke {
    opacity: 1;
  }
}

.runs-list-card__title {
  font-size: 1.6em;
  line-height: 1.5;

  b {
    color: var(--color-run-list-highlight);
    font-weight: normal;
  }
}

.runs-list-card__gitsha {
  color: var(--color-text-faded);
  font-size: 1.3em;
  margin: 4px 0 12px;

  b {
    color: var(--color-run-list-highlight);
    font-weight: normal;
  }
}

.runs-list-card__timestamp {
  font-size: 1.3em;
}

.runs-list-card__notes {
  font-size: 1.3em;
  padding-top: 24px;

  b {
    color: var(--color-run-list-highlight);
    font-weight: normal;
  }
}

.runs-list-card__checked {
  border: 1px solid #{colors.$grey-500};
  height: 10px;
  margin: 0.8em 0.8em 0 0;
  width: 10px;

  &--comparing {
    fill: var(--color-base-20);
  }

  &--active {
    fill: colors.$blue-300;
  }

  &--selected-first {
    border-color: colors.$blue-300;
    border-width: 2px;
    transform: rotate(45deg);
  }

  &--selected-second {
    background:
    /* left */ linear-gradient(
          to bottom left,
          transparent 49.5%,
          colors.$green-300 50% calc(50% + 1px),
          transparent calc(50% + 2px)
        )
        right/50% 100%,
      /* right */
        linear-gradient(
          to bottom right,
          transparent 49.5%,
          colors.$green-300 50% calc(50% + 1px),
          transparent calc(50% + 2px)
        )
        left/50% 100%,
      /* bottom*/ linear-gradient(colors.$green-300, colors.$green-300)
        bottom/calc(100%) 1px;
    background-repeat: no-repeat;
    border: none;
    height: 10px;
    width: 10px;
  }

  &--selected-third {
    border-color: colors.$yellow-300;
    border-width: 2px;
    border-radius: 50%;
  }
}

.runs-list-card__bookmark {
  fill: var(--color-run-list-bookmark);
  height: 24px;
  margin-left: auto;
  opacity: 1;
  transition: fill 300ms ease;
  width: 24px;

  &:hover {
    fill: var(--color-default-alt);
  }

  &--stroke {
    opacity: 0;
    transition: fill 300ms ease;
  }
}
