@import '../../../styles/variables';
@import '../../../styles/extends';

.kui-theme--light {
  --color-bg-plot: #{$color-bg-light-4};
  --color-button-plot: #{$color-button};
  --color-button-plot-hovered: #{$color-button-hovered};
  --color-button-text: #{$color-light};
}

.kui-theme--dark {
  --color-bg-plot: #{$color-bg-dark-2};
  --color-button-plot: #{$color-button};
  --color-button-plot-hovered: #{$color-button-hovered};
  --color-button-text: #{$color-light};
}

.pipeline-run-plots-modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: $global-toolbar-width;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  background-color: var(--color-bg-plot);
}

.pipeline-run-plots-modal__top {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  min-width: 100%;
  padding: 1.5em;
}

.pipeline-run-plots-modal__header {
  display: flex;
  margin: 0 auto;
  padding: 0 32px;
}

.pipeline-run-plots-modal__icon {
  display: inline-block;
  width: 2.9em;
  height: 2.8em;
  margin: 0 10px 0 0;
  fill: var(--color-text);
}

.pipeline-run-plots-modal__title {
  margin-top: 1px;
  font-size: 1.8em;
}

.pipeline-run-plots-modal__back {
  @extend %button;

  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 12px;
}

.pipeline-run-plots-modal__content {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
}

.pipeline-run-plots-modal__back-text {
  font-size: 1.6em;
}

.pipeline-run-plots-modal__back-icon {
  width: 1.9em;
  height: 1.9em;
  margin: 0 12px 0 0;
  fill: var(--color-text);
}

.pipeline-run-viz__image_oneChart {
  width: calc(98% - 400px - #{$global-toolbar-width});
  height: calc(92% - 50px);
  left: 45%;
  position: relative;
  transform: translateX(-50%);
}

.pipeline-run-viz__image_twoChart {
  height: 520px;
  width: 600px;
  margin: 3em;
}

.pipeline-run-viz__image_threeChart {
  height: 320px;
  width: 400px;
  margin: 2.5em;
}
