table {
  margin: 30px 32px;
}

th {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  padding-bottom: 12px;
}

td {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  padding-bottom: 8px;
}

th,
td {
  text-align: left;
  padding-right: 32px;
}
