@use '../../../../styles/variables' as colors;

.kui-theme--dark {
  --sliced-pipeline-action-bar--background: #{colors.$slate-200};
  --sliced-pipeline-action-bar--color: #{colors.$white-0};
  --sliced-pipeline-action-bar--color-faded: #{colors.$white-800};
  --sliced-pipeline-action-bar--code-background: #{colors.$black-900};
}

.kui-theme--light {
  --sliced-pipeline-action-bar--background: #{colors.$white-0};
  --sliced-pipeline-action-bar--color: #{colors.$black-900};
  --sliced-pipeline-action-bar--color-faded: #{colors.$black-200};
  --sliced-pipeline-action-bar--code-background: #{colors.$white-100};
}

$padding-top-bottom: 8px;
$padding-right-left: 16px;
$inner-gap: 12px;

.sliced-pipeline-action-bar {
  background-color: var(--sliced-pipeline-action-bar--background);
  border-radius: 4px;
  bottom: 30px;
  display: flex;
  margin: 0;
  position: absolute;
  transition: transform ease 0.7s;
  padding: $padding-top-bottom $padding-right-left;

  // create a ticket to investigate why there are so many opacities on button component
  .pipeline-icon-toolbar__button {
    height: 24px;
    margin: 0;
    opacity: 1;

    svg {
      fill: var(--sliced-pipeline-action-bar--color);
      opacity: 1;
    }
  }
}

.sliced-pipeline-action-bar--info {
  align-items: center;
  color: var(--sliced-pipeline-action-bar--color-faded);
  display: flex;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.sliced-pipeline-action-bar--run-command {
  display: flex;
  padding: 0 $padding-right-left;
  min-width: 296px;
  max-width: 780px;

  .container {
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .command-value {
    color: var(--sliced-pipeline-action-bar--color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-x: scroll;
    background-color: var(--sliced-pipeline-action-bar--code-background);
    padding: $padding-top-bottom $inner-gap;
  }

  .toolbox {
    margin-left: 10px;
  }
}

.sliced-pipeline-action-bar--run-command-long {
  .command-value::before {
    background-image: linear-gradient(
      to right,
      transparent,
      var(--sliced-pipeline-action-bar--code-background)
    );
    content: '';
    height: 27px;
    position: absolute;
    right: 36px;
    text-align: center;
    width: 80px;
  }
}

.sliced-pipeline-action-bar--cta {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: $padding-top-bottom $inner-gap;
  border: 1px solid var(--sliced-pipeline-action-bar--color);
  border-radius: 4px;
}

.sliced-pipeline-action-bar--reset {
  background: #f03b3a;

  .button__btn {
    font-size: 14px;
    padding: 0;
    border: none;

    &:hover {
      background: none;
    }
  }
}

.sliced-pipeline-action-bar--slice {
  cursor: pointer;

  .pipeline-icon--container {
    list-style-type: none;
  }

  .pipeline-icon {
    width: 24px;
    height: 24px;

    path {
      fill: var(--sliced-pipeline-action-bar--color);
    }
  }

  .sliced-pipeline-action-bar--slice-text {
    font-size: 14px;
    color: var(--sliced-pipeline-action-bar--color);
    font-weight: 600;
    margin-left: 10px;
  }
}
