@import './variables';

:export {
  backgroundLightTheme: $backgroundLightTheme;
  foregroundLightTheme: $foregroundLightTheme;
  backgroundDarkTheme: $backgroundDarkTheme;
  foregroundDarkTheme: $foregroundDarkTheme;
}
