@import './variables';

%tooltip {
  color: var(--color-text-alt);
  background: var(--color-bg-alt);
  box-shadow: 0 1px 3px rgba(black, 0.2);
}

%sidebar {
  background: var(--color-sidebar-background);
  border-bottom: 1px solid var(--color-sidebar-border);
  box-shadow: 0 1px 3px var(--color-sidebar-shadow);
}
