@import './variables';

//-- Weights --//
%type--light {
  font-weight: 300;
}

%type--regular {
  font-weight: 400;
}

%type--semibold {
  font-weight: 600;
}

//-- Fonts --//
%type--display-1 {
  font-size: 4.8rem;
  line-height: 5.6rem;
  letter-spacing: -0.5px;
}

%type--display-2 {
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: -0.3px;
}

%type--display-3 {
  font-size: 3.4rem;
  line-height: 4rem;
  letter-spacing: -0.1px;
}

%type--headline {
  font-size: 2.4rem;
  line-height: 3.2rem;
  letter-spacing: -0.1px;
}

%type--title {
  font-size: 2rem;
  line-height: 2.8rem;
}

%type--subhead-1 {
  font-size: 1.8rem;
  line-height: 2.4rem;
}

%type--subhead-2 {
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: 0.1px;
}

%type--body-1 {
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.1px;
}

%type--body-2 {
  font-size: 1.3rem;
  line-height: 2rem;
  letter-spacing: 0.1px;
}

%type--tiny {
  font-size: 1rem;
  line-height: 1.2rem;
  letter-spacing: 0.1px;
}

//-- Other --//

%tooltip {
  color: var(--color-text-alt);
  background: var(--color-bg-alt);
  box-shadow: 0 1px 3px rgba(black, 0.2);
}

%sidebar {
  background: var(--color-sidebar-background);
  border-bottom: 1px solid var(--color-sidebar-border);
  box-shadow: 0 1px 3px var(--color-sidebar-shadow);
}
