// Force an element to self-clear its floated children
// https://css-tricks.com/snippets/css/clear-fix/
@mixin clearfix {
  &:after {
    display: table;
    clear: both;
    content: '';
  }
}

// Hide things visually but keep them readable by screenreaders
// https://css-tricks.com/inclusively-hidden/
@mixin screenReaderOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

// Create transparent versions of theme colours.
// This is necessary for making gradients to transparent in Safari:
// https://css-tricks.com/thing-know-gradients-transparent-black/
@mixin transparentColour($var-name, $color-light, $color-dark) {
  .kui-theme--light {
    #{$var-name}: #{rgba($color-light, 0)};
  }

  .kui-theme--dark {
    #{$var-name}: #{rgba($color-dark, 0)};
  }
}

@mixin flexColumn($col-num) {
  flex: 0 0 calc(100% / 12 * #{$col-num});
  margin-top: 10px;
}
