@mixin clearfix {
  &::before,
  &::after {
    display: table;
    content: '';
  }

  &::after {
    clear: both;
  }
}

@mixin flexColumns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@mixin screenReaderOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

// Create transparent versions of theme colours.
// This is necessary for making gradients to transparent in Safari:
// https://css-tricks.com/thing-know-gradients-transparent-black/
@mixin transparentColour($var-name, $color-light, $color-dark) {
  .kui-theme--light {
    #{$var-name}: #{rgba($color-light, 0)};
  }

  .kui-theme--dark {
    #{$var-name}: #{rgba($color-dark, 0)};
  }
}
