//-- Custom --//
$nav-width: 300px;

//-- Breakpoints --//
// Horizontal:
$breakpoint-xsmall: 320px;
$breakpoint-small: 480px;
$breakpoint-medium: 750px;
$breakpoint-large: 1100px;
$breakpoint-xlarge: 1440px;
$breakpoint-xxlarge: 1700px;
$breakpoint-xxxlarge: 1920px;
// Column-based:
$breakpoint-2col: $breakpoint-small;
$breakpoint-3col: 800px;
$breakpoint-4col: 1100px;
// Vertical:
$breakpoint-v-medium: 900px;

//-- Colours --//
$color-primary: #00bfff;
// Light theme:
$color-text-light: #333;
$color-bg-light: white;
$color-bg-light-alt: #f0f0f0;
$color-header-light: #f9f9f9;
$color-line-light: #ddd;
// Dark theme:
$color-text-dark: white;
$color-bg-dark: #1d2f3a;
$color-bg-dark-alt: #122531;
$color-header-dark: #111f2a;
$color-line-dark: #081c28;
$color-link: rgba(#00bfff, 0.85);

//-- typography --//
$rem-base: 10px;
$font-base: 10px;
$line-height-base: 24px;

//-- Layout --//
$padding-unit: $rem-base;

$inspector-width: 290px;
$inspector-width-2: 360px;
$inspector-width-3: 420px;

$inspector-gutter: 20px;

$nav-height: 48px;
$nav-height-xlarge: 64px;

$min-tree-height: 660px;

//-- Controls --//
$toggle-height: 32px;
$toggle-height-xlarge: 40px;

//-- Easing Functions --//

//-- Cubic--//
$easeInCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);

//-- Circ--//
$easeInCirc: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$easeOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1);
$easeInOutCirc: cubic-bezier(0.785, 0.135, 0.15, 0.86);

//-- Expo--//
$easeInExpo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
$easeInOutExpo: cubic-bezier(1, 0, 0, 1);

//-- Quad--//
$easeInQuad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$easeOutQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$easeInOutQuad: cubic-bezier(0.455, 0.03, 0.515, 0.955);

//-- Quart--//
$easeInQuart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
$easeInOutQuart: cubic-bezier(0.77, 0, 0.175, 1);

//-- Quint--//
$easeInQuint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
$easeInOutQuint: cubic-bezier(0.86, 0, 0.07, 1);

//-- Sine--//
$easeInSine: cubic-bezier(0.47, 0, 0.745, 0.715);
$easeOutSine: cubic-bezier(0.39, 0.575, 0.565, 1);
$easeInOutSine: cubic-bezier(0.445, 0.05, 0.55, 0.95);

//-- Back--//
$easeInBack: cubic-bezier(0.6, -0.28, 0.735, 0.045);
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);
