/*
The below colours are defined based on the Kedro-viz style guide which can be found  
in the Style Guide docs under 'Theme Colours' 
*/

//-- Fonts --//

$font-monospace: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
  Liberation Mono, monospace;

//-- Common Colors --//

$color-dark: black;
$color-light: white;
$color-accent-blue: #00b0f5;

$color-primary: $color-accent-blue;
$color-primary-2: #107da5;
$color-link: rgba($color-primary, 0.85);
$color-button: #003464;
$color-button-hovered: #005d92;
$color-button-disabled: rgba($color-light, 0.3);

//-- Theme colours as SCSS variables --//

// Light:
$color-text-light: rgba(black, 0.85);
$color-text-light-2: rgba(black, 0.55);
$color-text-light-alt: rgba(white, 0.85);
$color-accent-purple: #a000bc;
$color-bg-light-1: #ffffff;
$color-bg-light-2: #f8f9fa;
$color-bg-light-3: #f0f1f3;
$color-bg-light-4: #e6e8eb;
$color-bg-light-5: #dadee2;
$color-bg-dev-light-1: #ccd1d6;
$color-bg-light-alt: #242525;

// Dark:
$color-text-dark: rgba(white, 0.85);
$color-text-dark-2: rgba(white, 0.55);
$color-text-dark-alt: rgba(black, 0.85);
$color-accent-yellow: #ffbc00;
$color-bg-dark-1: #001521;
$color-bg-dark-2: #081c28;
$color-bg-dark-3: #122531;
$color-bg-dark-4: #1d303b;
$color-bg-dark-5: #2a3b46;
$color-bg-dark-alt: white;

//-- Layout --//

$sidebar-padding: 1.8em;

// These values are used in both SCSS and JS, and we don't have variable-sharing
// across Sass and JavaScript, so they're defined in two places. If you update their
// value here, please also update their corresponding value in src/config.js
$sidebar-width-open: 400px;
$sidebar-width-closed: 56px;
$sidebar-width-breakpoint: 700px;

$metadata-sidebar-width-open: 400px;
$metadata-sidebar-width-closed: 0;

$metadata-sidebar-code-open: 480px;
$metadata-sidebar-code-closed: 0;
$metadata-sidebar-code-breakpoint: 1200px;

$metadata-modal-breakpoint: 700px;

$global-toolbar-width: 80px;

$run-list-controls-height: 95px;
