@import '../../styles/variables';

//--- Reusable site-wide styles --//

.pipeline-icon {
  opacity: 0.7;
  transition: opacity 300ms ease;
  fill: var(--color-default-alt);

  &--stroke {
    fill: none;
    stroke: var(--color-default-alt);
  }
}
