@import '../../../styles/variables';

.details-dataset {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 5em 0 0 9em;
}

.details-dataset__accordion {
  margin-bottom: 36px;
  max-width: 75em;
  width: 100%;
}

.details-dataset__accordion-header {
  margin-bottom: 16px;
}

.details-dataset__row {
  display: flex;
  font-size: 1.4em;
}

.details-dataset__name-header,
.details-dataset__value-header {
  color: var(--color-text-faded);
  font-size: 13px;
}

.details-dataset__label,
.details-dataset__value,
.details-dataset__value-header {
  margin-bottom: 8px;
}

.details-dataset__label,
.details-dataset__name-header {
  display: block;
  flex-shrink: 0;
  width: $run-width;
}

.details-dataset__value,
.details-dataset__value-header {
  display: flex;
  flex-shrink: 0;
  min-height: 20px;
  width: $run-width;
  word-break: break-all;
}

.details-dataset__accordion-wrapper-comparison-view {
  .details-dataset__label,
  .details-dataset__name-header,
  .details-dataset__value,
  .details-dataset__value-header {
    width: $run-width-comparison-view;
  }
}

.dataset-arrow-icon {
  fill: $blue-300;
  height: 1.8em;
  margin-left: 1em;
  width: 1.8em;
}

.details-dataset__visualization-wrapper,
.details-dataset__image-container {
  cursor: pointer;
  opacity: 1;
  transition: 0.2s opacity ease;

  &:hover {
    opacity: 0.85;
  }
}

.details-dataset__image-container {
  height: 188px;
}

.details-dataset__image {
  max-width: 250px;
  width: 100%;
}

.details-dataset__empty-plot {
  align-items: center;
  background-color: var(--color-bg-1);
  border: 1px solid var(--color-bg-5);
  display: flex;
  height: 188px;
  justify-content: center;
  width: 250px;
}

.details-dataset__tranistion-group-wrapper {
  display: flex;
}

.details-dataset__tranistion-group-wrapper span {
  &:first-of-type {
    margin-right: 3.5em;
  }

  &:nth-of-type(2) {
    margin-right: 8.5em;
  }
}

// to ensure the value header is aligned with its value
.details-dataset__tranistion-group-wrapper .details-dataset__value-header {
  &:nth-of-type(1) {
    margin-right: 3.8em;
  }

  &:nth-of-type(2) {
    margin-right: 9.2em;
  }
}
