@import '../../styles/variables';

.pipeline-warning {
  position: absolute;
  top: 30%;
  left: 50%;
  text-align: center;

  &__title {
    font-weight: normal;
    font-size: 3.8em;
    line-height: 1.18;
    letter-spacing: 0.27px;
  }

  &__subtitle {
    max-width: 350px;
    padding-bottom: 3em;
    font-weight: normal;
    font-size: 1.48em;
    line-height: 1.5;
  }
}
