@use '../../../styles/extends';
@use '../../../styles/variables' as variables;
@use './metadata-code-themes.scss';

.kui-theme--light {
  --color-metadata-code-bg: #{variables.$grey-0};
}

.kui-theme--dark {
  --color-metadata-code-bg: #{variables.$slate-500};
}

.pipeline-metadata-code {
  @extend %sidebar;

  $margin: 24px;

  inset: -1px 0;
  position: absolute; /* Avoids pixel rounding gaps */

  // On small screens anchor to the left side of the screen

  background: var(--color-metadata-code-bg);
  display: flex;
  flex-direction: column;
  padding: 0 variables.$metadata-sidebar-width-open 0 0;
  transform: translateX(100vw);
  transition: transform ease 0.5s 0.1s, left ease 0.5s;
  z-index: variables.$zindex-metadata-code;

  &--visible {
    transform: translateX(variables.$global-toolbar-width);
  }

  @mixin breakpoints($sidebar-width) {
    // When screen is the minimum usable width
    @media (min-width: variables.$metadata-sidebar-code-breakpoint) {
      // Anchor code to the left sidebar
      left: $sidebar-width + $margin;
    }

    // When screen is wide enough to fit all sidebars
    $sidebar-total-width: $sidebar-width + $margin +
      variables.$metadata-sidebar-code-open +
      variables.$metadata-sidebar-width-open;

    @media (min-width: #{$sidebar-total-width}) {
      // Anchor to right sidebar
      left: $sidebar-width;
    }
  }

  // When sidebar is open (but not in inline mode)
  &--sidebarVisible {
    @include breakpoints(variables.$sidebar-width-open);
  }

  // When sidebar is closed (but not in inline mode)
  &--no-sidebarVisible {
    @include breakpoints(variables.$sidebar-width-closed);
  }

  // Inline mode for use in previews
  &--inline {
    position: relative;
    inset: unset;
    left: unset;
    right: unset;
    top: unset;
    bottom: unset;
    transform: none;
    padding: 0;
    background: transparent;
    z-index: auto;
    width: 100%;
    height: auto;
    transition: none;
    border: none;
    border-bottom: none;
    border-right: none;
  }

  @media print {
    display: none;
  }
}

.pipeline-metadata-code__title {
  flex-grow: 0;
  font-size: 1.8em;
  font-weight: normal;
  line-height: 1.6;
  margin: 2.1em 36px 1.8em;
}

.pipeline-metadata-code__code {
  display: block;
  flex-grow: 1;
  font-size: 1.25em;
  line-height: 1.8;
  opacity: 1;
  overflow: auto;
  transition: opacity 0.4s ease 0.4s;

  .pipeline-metadata-code--no-visible & {
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  * {
    font-family: variables.$font-monospace;
  }

  .hljs-keyword {
    color: var(--color-metadata-code-text);
  }

  // Inline mode styling
  .pipeline-metadata-code--inline & {
    font-size: 14px;
    line-height: 1.6;
    overflow-x: auto;
  }
}

.pipeline-metadata-code pre {
  display: inline-block;
  margin: 0;
  padding: 0 36px 36px;

  // Inline mode styling
  .pipeline-metadata-code--inline & {
    padding: 16px;
    margin: 0;
    white-space: pre;
    overflow-x: auto;
    border: none;
  }
}
