@import '../../../styles/variables';
@import '../../../styles/extends';

.kui-theme--light {
  --color-metadata-bg: #{$color-bg-light-3};
  --color-metadata-kind-token-bg: #{$color-bg-light-2};
  --color-plot-bg: #{$color-bg-light-5};
  --color-button-plot: #{$color-button};
  --color-button-plot-hovered: #{$color-button-hovered};
  --color-button-text: #{$color-light};
}

.kui-theme--dark {
  --color-metadata-bg: #{$color-bg-dark-5};
  --color-metadata-kind-token-bg: #{$color-bg-dark-6};
  --color-plot-bg: #{$color-bg-dark-7};
  --color-button-plot: #{$color-button};
  --color-button-plot-hovered: #{$color-button-hovered};
  --color-button-text: #{$color-light};
}

.pipeline-metadata {
  @extend %sidebar;
  position: absolute;
  top: -1px; /* Avoids pixel rounding gaps */
  right: 0;
  bottom: -1px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: $metadata-sidebar-width-open;
  padding: 6px 0 0 0;
  overflow-y: auto;
  background: var(--color-metadata-bg);
  transform: translateX(100%);
  transition: transform ease 0.4s;

  &--visible {
    transform: translateX(0);
  }

  @media print {
    display: none;
  }
}

.pipeline-metadata__close-button {
  position: absolute;
  top: 2px;
  right: -14px;

  &,
  & svg {
    width: 24px;
    height: 24px;
  }
}

.pipeline-metadata__label,
.pipeline-metadata__row,
.pipeline-metadata__header-toolbox {
  margin: 1.9em 36px;
  font-size: 1.48em;
}

.pipeline-metadata__header {
  display: flex;
  justify-content: space-between;
  margin-top: -0.12em;
}

.pipeline-metadata__header-toolbox {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  margin-top: 1.7em;
  padding-right: 24px;
}

.pipeline-metadata__icon {
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  width: 28px;
  height: 28px;
  margin: 0.05em 0.55em 0 -0.3em;
  fill: var(--color-text);
}

.pipeline-metadata__title {
  flex-grow: 1;
  margin: 0;
  font-weight: normal;
  font-size: 1.3em;
  line-height: 1.6;
  word-break: break-word;
}

.pipeline-metadata__list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0;
}

.pipeline-metadata__label {
  margin-bottom: 0.7em;
  font-weight: normal;
  opacity: 0.65;
  user-select: none;
}

.pipeline-metadata__row {
  margin-top: 0.7em;
}

.pipeline-metadata__value {
  display: inline;
  flex-grow: 0;
  margin-right: auto;
  line-height: 1.5;
  word-break: break-word;
}

.pipeline-metadata__value--kind-type,
.pipeline-metadata__value--kind-path {
  display: block;
  overflow: hidden;
  direction: rtl;
  white-space: nowrap;
  text-align: left;
  text-overflow: ellipsis;
}

.pipeline-metadata__value--kind-token {
  display: inline-block;
  padding: 0.18em 0.6em 0.2em 0.6em;
  font-weight: 600;
  background: var(--color-metadata-kind-token-bg);

  code & {
    padding: 0.4em 0.8em;
    font-weight: normal;
    font-size: 0.9em;
    font-family: Consolas, Monaco, 'Courier New', Courier, monospace;
  }
}

.pipeline-metadata__value-list-expand {
  display: block;
  margin: 0.6em 0 0 0;
  padding: 0 0 0.12em 0;
  color: var(--color-text);
  font-size: 0.96em;
  background: none;
  border: 0;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  opacity: 0.45;
  appearance: none;

  &:hover {
    border-bottom-color: var(--color-text);
    opacity: 0.55;
  }
}

.pipeline-metadata__value-list--no-inline {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pipeline-metadata__value-list--no-inline li {
  position: relative;
  margin-left: 1em;

  &:before {
    position: absolute;
    margin-left: -1em;
    // For small square bullets
    content: '▪';
  }
}

$list-inline-spacing: 0.2em;

.pipeline-metadata__value-list--inline {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -$list-inline-spacing * 1.5;
  padding: 0;
  list-style: none;

  li {
    display: inline;
    margin: $list-inline-spacing $list-inline-spacing * 1.5;
  }
}

.pipeline-metadata__value-list--commas li:not(:last-child):after {
  content: ', ';
}

.pipeline-metadata__toolbox-container {
  position: relative;
  display: flex;
}

.pipeline-metadata__toolbox {
  display: block;
  width: 26px;
  height: 34px;
  margin: -0.5em 0 0 auto;
  padding: 0;
  list-style: none;
}

.pipeline-metadata__run-command-value {
  display: flex;
  flex-grow: 1;
  align-items: center;

  &--no-visible {
    opacity: 0;
  }
}

.pipeline-metadata__copy-button {
  width: auto;
  height: auto;
  margin-top: 0.3em;
  margin-right: -0.6em;
  opacity: 0.55;

  .pipeline-icon {
    width: 26px;
    height: 26px;
  }

  &:hover {
    opacity: 1;
  }

  &:active {
    transform: translateY(1px);
    opacity: 0.85;
  }
}

.pipeline-metadata__copy-message {
  position: absolute;
  top: 0;
  left: 0;

  &--no-visible {
    display: none;
  }
}

.pipeline-metadata__plot {
  display: flex;
  height: 300px;
  cursor: pointer;
}

.pipeline-metadata__properties {
  flex-grow: 1;
  height: 0px;
  margin-top: -1.9em;
  overflow-y: auto;
}

.pipeline-metadata__expand-plot {
  @extend %button;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  background-color: var(--color-button-plot);

  &:hover {
    background-color: var(--color-button-plot-hovered);
  }
}

.pipeline-metadata__expand-plot-icon {
  width: 1.9em;
  height: 1.9em;
  margin: 0 6px 0 36px;
  fill: var(--color-button-text);
}

.pipeline-metadata__expand-plot-text {
  margin: 12px 10px 12px 5px;
  color: var(--color-button-text);
  font-size: 1.6em;
}
