@import '../../styles/variables';
@import '../../styles/mixins';

.kedro-pipeline {
  position: relative;
  height: 100%;
  overflow: hidden;
  color: var(--color-text);
  font-size: 10px;
  background: var(--color-bg-1);

  &.kui-theme--light {
    @media print {
      background: none;
    }
  }
}

.pipeline-title {
  @include screenReaderOnly;
}

.pipeline-wrapper {
  height: 100%;
}

.pipeline-wrapper__loading {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
