@import '../../styles/variables';

.kedro-pipeline {
  position: relative;
  font-size: 10px;
  height: 100%;
  overflow: hidden;

  &.kui-theme--light {
    background: $color-bg-light;
    color: #333;
  }

  &.kui-theme--dark {
    background: $color-bg-dark;
    color: #fff;
  }
}

.pipeline-wrapper {
  height: 100%;
}
