@use 'sass:meta';

.kui-theme--light .syntax-highlighter {
  @include meta.load-css(
    '../../../../node_modules/highlight.js/styles/a11y-light'
  );
}

.kui-theme--dark .syntax-highlighter {
  @include meta.load-css(
    '../../../../node_modules/highlight.js/styles/a11y-dark'
  );
}
