@use '../../../styles/variables' as variables;
@use './syntax-highlighter-themes.scss';

.syntax-highlighter {
  display: block;
  font-family: variables.$font-monospace;
  font-size: 1.25em;
  line-height: 1.8;
  overflow: auto;

  * {
    font-family: variables.$font-monospace;
  }

  pre {
    display: inline-block;
    margin: 0;
    padding: 0 36px 36px;
    white-space: pre;
  }
}
