@import '../../styles/variables';

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $color-bg-dark-1;
}

.modal {
  position: absolute;
  top: 40px;
  right: 40px;
  bottom: 40px;
  left: 40px;
  background-color: $color-bg-dark-1;
}

div {
  color: white;
  font-family: 'Titillium Web', 'sans-serif';
}

img {
  width: 250px;
  margin: 0 48px;
}

.layout {
  display: flex;
}

.title {
  padding: 16px 0px;
  font-size: 28px;
}

.subtitle {
  font-weight: lighter;
  font-size: 14px;
  opacity: 0.7;
  & b {
    font-size: 20px;
  }
}

.renderButton {
  margin: 40px 0;
  padding: 9px;
  color: white;
  font-family: 'Titillium Web';
  background-color: $color-bg-dark-1;
  border: 2px solid white;
}
