@use '../../../../styles/variables' as styles;
@use '../../styles/variables';

$padding-top-bottom: 8px;
$padding-right-left: 16px;
$inner-gap: 12px;

.pipeline-flowchart_slice-action {
  background-color: var(--slice-pipeline-action-background);
  border-radius: 4px;
  bottom: 30px;
  display: flex;
  margin: 0;
  position: absolute;
  transition: transform ease 0.7s;
  padding: $padding-top-bottom $padding-right-left;

  // create a ticket to investigate why there are so many opacities on button component
  .pipeline-icon-toolbar__button {
    opacity: 1;

    svg {
      fill: black;
      opacity: 1;
    }
  }
}

.pipeline-flowchart_slice-action--info {
  align-items: center;
  color: var(--slice-pipeline-action-color);
  display: flex;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.pipeline-flowchart_slice-action--run-command {
  display: flex;
  padding: 0 $padding-right-left;
  width: 780px;

  .container {
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .command-value {
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-x: scroll;
    background-color: var(--slice-pipeline-code-background);
    padding: $padding-top-bottom $inner-gap;
  }

  .toolbox {
    margin-left: 10px;
  }
}

.pipeline-flowchart_slice-action--cta {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: $padding-top-bottom $inner-gap;
  border: 1px solid black;
  border-radius: 4px;
}

.pipeline-flowchart_slice-action--reset {
  background: #f03b3a;

  .button__btn {
    font-size: 14px;
    padding: 0;
    border: none;

    &:hover {
      background: none;
    }
  }
}

.pipeline-flowchart_slice-action--slice {
  cursor: pointer;

  .pipeline-icon--container {
    list-style-type: none;
  }

  .pipeline-icon {
    width: 24px;
    height: 24px;

    path {
      fill: #000;
    }
  }

  .pipeline-flowchart_slice-action--slice-text {
    font-size: 14px;
    color: black;
    font-weight: 600;
    margin-left: 10px;
  }
}
