@import '../../styles/variables';
@import '../../styles/extends';

.pipeline-icon-toolbar__button {
  position: relative;
  width: $sidebar-width-closed;
  height: $sidebar-width-closed;
  padding: 0;
  color: inherit;
  font-size: 1.1em;
  text-align: center;
  vertical-align: middle;
  background: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
  user-select: none;

  @media (max-height: 550px) {
    height: $sidebar-width-closed - 14;
  }

  &:focus {
    outline: none;

    [data-whatinput='keyboard'] & {
      outline: 3px solid $color-link;
    }
  }

  &:hover svg {
    opacity: 1;
  }

  &:disabled {
    cursor: not-allowed;

    svg {
      opacity: 0.2;
    }
  }

  svg {
    width: 1.8em;
    height: 1.8em;
  }
}

.pipeline-toolbar__label {
  @extend %tooltip;

  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  margin-top: -1.2em;
  margin-left: 1.6em;
  padding: 0.5em 0.7em;
  font-size: 1.4em;
  white-space: nowrap;

  @media (max-width: $sidebar-width-breakpoint) {
    .pipeline-sidebar--visible & {
      right: 50%;
      left: auto;
      margin-right: 1.6em;
      margin-left: auto;
    }
  }

  .pipeline-icon-toolbar__button:hover &,
  [data-whatinput='keyboard'] .pipeline-icon-toolbar__button:focus & {
    display: inline-block;
  }

  &::after {
    $triangle-size: 7px;

    position: absolute;
    top: calc(50% - #{$triangle-size});
    left: -$triangle-size + 0.5;
    width: 0;
    height: 0;
    border-color: transparent var(--color-bg-alt) transparent transparent;
    border-style: solid;
    border-width: $triangle-size $triangle-size $triangle-size 0;
    content: '';

    @media (max-width: $sidebar-width-breakpoint) {
      .pipeline-sidebar--visible & {
        right: -$triangle-size + 0.5;
        left: auto;
        border-color: transparent transparent transparent var(--color-bg-alt);
        border-width: $triangle-size 0 $triangle-size $triangle-size;
      }
    }
  }
}
