@import '../../styles/variables';

.snapshot-description {
    position: absolute;
    top: 20px;
    right: 40px;
    text-align: right;

    p {
        font-size: 1.6em;
        color: rgba($color-bg-light, 0.55);
        margin: 3px 0;
    }

    b {
        font-weight: 600;
        color: rgba($color-bg-light, 0.85);
    }

    span {
        background: rgba($color-bg-light, 0.85);
        margin-left: 10px;
        padding: 0 7px 2px;
        color: $color-header-dark;
    }
}

