@use '../../../styles/variables' as colors;

$baseColour: #{colors.$grey-900};
$lineHighlight: #{colors.$grey-400};
$textHighlight: #{colors.$white-900};

.parallel-coordinates {
  flex: 1 1 auto;
  font-family: sans-serif;
  margin: 0 4em 0 0;
}

.parallel-coordinates .text {
  font-size: 12px;
  font-weight: 400;
}

g.active path {
  fill: none;
  stroke: #{colors.$slate-500};
  stroke-linecap: 'round';
}

g.highlight path {
  stroke: $lineHighlight;
  fill: none;
}

g.selected path {
  fill: none;
}

.headers {
  fill: $textHighlight;
  font-size: 14px;
  font-weight: 400;
}

// y-Axis
.domain {
  stroke: $baseColour;
}

// Custom ticks
.ticks > .text:first-of-type,
.ticks .text:last-of-type {
  fill: #{colors.$grey-300};
  font-size: 12px;
}

.ticks .text {
  fill: $baseColour;
}

.lines .line {
  stroke: $baseColour;
}

// Selected runs
.marker .text {
  fill: #{colors.$white-0};
  font-weight: 600;
}

// Hovered Y-axis
.feature--hovered {
  .domain {
    stroke: $lineHighlight;
  }

  .headers {
    cursor: pointer;

    fill: #{colors.$white-0};
  }
}

//  Hovered run
.ticks .text--hovered {
  fill: $textHighlight;
}

.lines .line--hovered {
  stroke: $lineHighlight;
}

.line:first-of-type,
.line:last-of-type {
  stroke: transparent;
}
