@use '../../../styles/variables' as colors;

$baseColour: #{colors.$grey-900};
$lineHighlight: #{colors.$grey-400};
$textHighlight: #{colors.$white-900};

.parallel-coordinates {
  margin: 0 4em 0 0;
  font-family: sans-serif;
}

.parallel-coordinates .text {
  font-size: 12px;
  font-weight: 400;
}

g.active path {
  fill: none;
  stroke: #{colors.$slate-500};
  stroke-linecap: 'round';
}

g.highlight path {
  stroke: $lineHighlight;
  fill: none;
}

g.selected path {
  fill: none;
}

.headers {
  fill: $textHighlight;
  font-size: 14px;
  font-weight: 400;
}

// y-Axis
.domain {
  stroke: $baseColour;
}

.tick:nth-last-child(1) text,
.tick:nth-child(2) text {
  visibility: visible;
  fill: #{colors.$grey-300};
}

// Hide all the tick values as we don't want to show all of them on the page
.tick {
  visibility: hidden;
}

// Custom ticks
.ticks .text {
  fill: $baseColour;
}

.lines .line {
  stroke: $baseColour;
}

// Selected runs
.marker .text {
  fill: #{colors.$white-0};
  font-weight: 600;
}

// Hovered Y-axis
.feature--hovered {
  .domain {
    stroke: $lineHighlight;
  }

  .headers {
    cursor: pointer;

    fill: #{colors.$white-0};
  }
}

//  Hovered run
.ticks .text--hovered {
  fill: $textHighlight;
}

.lines .line--hovered {
  stroke: $lineHighlight;
}
