@use '../../../styles/variables' as colors;

.time-series {
  flex: 1 1 auto;
  font-family: 'Titillium Web', sans-serif;
  margin: 0 4em 0 0;
}

.time-series .text {
  font-size: 12px;
}

.timeseries-metric-name {
  font-size: 1.4em;
  color: var(--color-metrics-plot-timeseries-metric-name);
  line-height: 20px;
}

.timeseries-axis-label {
  fill: var(--color-metrics-plot-timeseries-axis-label);
  font-size: 12px;
  transform: rotate(-90deg);
}

.timeseries-metric-line {
  fill: none;
  stroke: var(--color-metrics-plot-timeseries-metric-line);
}

.timeseries-metric-line--blend {
  stroke-opacity: 0.4;
}

.timeseries-run-line {
  cursor: pointer;
  stroke: var(--color-metrics-plot-timeseries-run-line);
}

.timeseries-run-line--hovered {
  stroke: var(--color-metrics-plot-timeseries-run-line-hovered);
}

.timeseries-run-lines--blend {
  stroke-opacity: 0.55;
}

.timeseries-selected-line--0 {
  stroke: colors.$blue-300;
}

.timeseries-selected-line--1 {
  stroke: colors.$green-300;
}

.timeseries-selected-line--2 {
  stroke: colors.$yellow-300;
}

.timeseries-selected-marker--0 {
  stroke: colors.$blue-0;
}

.timeseries-selected-marker--1 {
  stroke: colors.$green-0;
}

.timeseries-selected-marker--2 {
  stroke: colors.$yellow-0;
}

.tick text {
  fill: var(--color-metrics-plot-timeseries-axis-label);
}

.tick line {
  stroke: var(--color-metrics-plot-timeseries-axis-label);
}

.timeseries-metric-axis .tick,
.timeseries-metric-axis-dual .tick {
  opacity: 0;
  font-size: 12px;
}

.timeseries-metric-axis .tick:nth-last-child(2) {
  opacity: 1;
}

.timeseries-metric-axis .tick:nth-child(3) {
  opacity: 1;
}

.timeseries-trend-line {
  stroke: var(--color-metrics-plot-timeseries-dotted-line);
  stroke-dasharray: 4;
  fill: none;
}

.timeseries-hovered-line {
  stroke: var(--color-metrics-plot-timeseries-dotted-line);
  stroke-dasharray: 4;
}

.timeseries-tick-line {
  stroke: var(--color-metrics-plot-timeseries-hovered-ticks);
}

.timeseries-tick-text {
  fill: var(--color-metrics-plot-timeseries-axis-label);
  text-anchor: end;
  transform: translate(-10px, -4px);
}
