@use '../../../styles/variables' as colors;

.time-series {
  flex: 1 1 auto;
  font-family: 'Titillium Web', sans-serif;
  margin: 0 4em 0 0;
}

.time-series .text {
  font-size: 12px;
}

.metric-name {
  font-size: 1.4em;
  color: colors.$white-0;
  line-height: 20px;
}

.axis-label {
  fill: #c0c5c9;
  font-size: 12px;
  transform: rotate(-90deg);
}

.run-line {
  fill: none;
  stroke: colors.$grey-700;
}

.run-line--blend {
  stroke-opacity: 0.4;
}

.reference-line {
  cursor: pointer;
  stroke: colors.$slate-200;
}

.reference-line--hovered {
  stroke: colors.$white-0;
}

.reference-group--blend {
  stroke-opacity: 0.55;
}

.selected-line--0 {
  stroke: colors.$blue-300;
}

.selected-line--1 {
  stroke: colors.$green-300;
}

.selected-line--2 {
  stroke: colors.$yellow-300;
}

.selected-marker--0 {
  stroke: colors.$blue-0;
}

.selected-marker--1 {
  stroke: colors.$green-0;
}

.selected-marker--2 {
  stroke: colors.$yellow-0;
}

.y-axis .tick,
.y-axis-right .tick {
  opacity: 0;
  font-size: 12px;
}

.y-axis .tick:nth-last-child(2) {
  opacity: 1;
}

.y-axis .tick:nth-child(3) {
  opacity: 1;
}

.dotted-line {
  stroke: colors.$white-0;
  stroke-dasharray: 4;
  fill: none;
}

.hovered-line {
  stroke: colors.$grey-700;
  stroke-dasharray: 4;
}

.tick-line {
  stroke: colors.$white-0;
}

.tick-text {
  fill: colors.$white-0;
  text-anchor: end;
  transform: translate(-10px, -4px);
}
