@use '../../../styles/variables' as colors;

$baseColour: #{colors.$grey-900};
$lineHighlight: #{colors.$grey-400};
$textHighlight: #{colors.$white-900};

.time-series {
  flex: 1 1 auto;
  font-family: 'Titillium Web', sans-serif;
  margin: 0 4em 0 0;
}

.time-series .text {
  font-size: 12px;
}

.metric-name {
  font-size: 1.4em;
  color: white;
  line-height: 20px;
}

.axis-label {
  fill: #c0c5c9;
  font-size: 12px;
  transform: rotate(-90deg);
}

.run-line {
  fill: none;
  stroke: #717d84;
}

.run-line--blend {
  stroke-opacity: 0.4;
}

.reference-line {
  cursor: pointer;
  stroke: #21333e;
}

.reference-line--hovered {
  stroke: white;
}

.reference-group--blend {
  stroke-opacity: 0.55;
}

.selected-line--0 {
  stroke: #00bcff;
}

.selected-line--1 {
  stroke: #31e27b;
}

.selected-line--2 {
  stroke: #ffbc00;
}

.selected-marker--0 {
  stroke: #00e3ff;
}

.selected-marker--1 {
  stroke: #3bff95;
}

.selected-marker--2 {
  stroke: #ffe300;
}

.y-axis .tick,
.y-axis-right .tick {
  opacity: 0;
  font-size: 12px;
}

.y-axis .tick:nth-last-child(2) {
  opacity: 1;
}

.y-axis .tick:nth-child(3) {
  opacity: 1;
}

.dotted-line {
  stroke: white;
  stroke-dasharray: 4;
  fill: none;
}

.hovered-line {
  stroke: #97a0a6;
  stroke-dasharray: 4;
}

.tick-line {
  stroke: white;
}

.tick-text {
  fill: white;
  text-anchor: end;
  transform: translate(-10px, -4px);
}

.brush .selection {
  y: -1;
}
