@import '../../../styles/variables';

.pipeline-edge path {
  pointer-events: none;
  fill: none;
  stroke-width: 1.5px;
  stroke: var(--edge-stroke);
}

.pipeline-edge-parameters path {
  pointer-events: none;
  fill: none;
  stroke-width: 1.5px;
  stroke: #ffbc00;
}

.pipeline-edge--faded {
  opacity: 0.1;
}

.pipeline-flowchart__arrowhead {
  fill: var(--edge-arrowhead-fill);
}
