@import './variables';

.edge {
  transition: opacity 0.4s ease;
}

.edge-path {
  fill: none;
  stroke-width: 1.5px;
  transition: opacity ease 0.1s;

  &--faded {
    opacity: 0.1;
  }

  .kui-theme--light & {
    stroke: $edge-light;
  }

  .kui-theme--dark & {
    stroke: $edge-dark;
  }
}

.pipeline-flowchart__arrowhead {
  .kui-theme--light & {
    fill: $edge-light;
  }

  .kui-theme--dark & {
    fill: $edge-dark;
  }
}
