@import './variables';

.pipeline-edge path {
  pointer-events: none;
  fill: none;
  stroke-width: 1.5px;

  .kui-theme--light & {
    stroke: $edge-light;

    @media print {
      stroke: $edge-light-export;
    }
  }

  .pipeline-graph--export.kui-theme--light & {
    stroke: $edge-light-export;
  }

  .kui-theme--dark & {
    stroke: $edge-dark;
  }
}

.pipeline-edge--faded {
  opacity: 0.1;
}

.pipeline-flowchart__arrowhead {
  .kui-theme--light & {
    fill: $edge-arrowhead-light;

    @media print {
      fill: $edge-light-export;
    }
  }

  .pipeline-graph--export.kui-theme--light & {
    fill: $edge-light-export;
  }

  .kui-theme--dark & {
    fill: $edge-arrowhead-dark;
  }
}
