@import '../../../styles/variables';
@import '../../../styles/mixins';

.pipeline-layer {
  opacity: 0;
  transition: opacity ease 0.5s;
  fill: var(--layer-fill);

  &:hover {
    opacity: 1;
  }

  .pipeline-graph--export & {
    display: none;
  }

  @media print {
    display: none;
  }
}

@include transparentColour(
  '--layer-bg-transparent',
  $color-bg-light-1,
  $color-bg-dark-1
);

.pipeline-flowchart__layer-names {
  position: absolute;
  top: 0;
  left: 0;
  width: 130px;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  background: linear-gradient(
    to right,
    var(--color-bg-1),
    var(--layer-bg-transparent)
  );
  opacity: 0;
  transition: opacity ease 0.7s;
  pointer-events: none;

  &--visible {
    opacity: 1;
  }

  @media print {
    display: none;
  }
}

.pipeline-layer-name {
  position: absolute;
  top: -10px;
  display: flex;
  align-items: center;
  height: 20px;
  padding-left: 18px;
  color: var(--layer-text);
  font-weight: bold;
  font-size: 1.6em;
  white-space: nowrap;
}
