@use '../../../styles/mixins' as mixins;
@use '../../../styles/variables' as variables;

.pipeline-layer {
  opacity: 0;
  transition: opacity ease 0.5s;
  fill: var(--layer-fill);

  &:hover {
    opacity: 1;
  }

  .pipeline-graph--export & {
    display: none;
  }

  @media print {
    display: none;
  }
}

@include mixins.transparentColour(
  '--layer-bg-transparent',
  variables.$white-800,
  variables.$slate-900
);

.pipeline-flowchart__layer-names {
  position: absolute;
  top: 0;
  left: 0;
  width: 130px;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  opacity: 0;
  transition: opacity ease 0.7s;
  pointer-events: none;

  &--visible {
    opacity: 1;
  }

  &--no-global-toolbar {
    left: -#{variables.$global-toolbar-width};
  }

  &--no-sidebar {
    left: 0;
  }

  @media print {
    display: none;
  }
}

.pipeline-layer-name {
  position: absolute;
  font-size: 1.6em;
  font-weight: bold;
  color: var(--layer-text); // Ensure this matches your theme
  white-space: nowrap;      // Prevent text wrapping
  overflow: hidden;         // Hide text overflow
  text-overflow: ellipsis;  // Show ellipsis when text overflows
  transition: opacity ease 0.5s, transform ease 0.5s; // Smooth transitions
  pointer-events: none;     // Avoid interfering with user interactions
}

.pipeline-layer-name--horizontal {
  text-align: left;         // Align text to the left
  text-anchor: start;       // Align text anchor for SVG-like elements
  padding-left: 12px;        // Add some padding for spacing
}

.pipeline-layer-name--vertical {
  transform: translateY(-50%); // Center the text along the vertical axis
  text-align: center;          // Align text in the middle
  text-anchor: middle;         // Align text anchor for SVG-like elements
  left: 0;                     // Position at the start of the layer
}

.pipeline-layer-name--active {
  opacity: 1 !important;
}
