@import './variables';

.pipeline-node {
  text {
    font-weight: 600;
    font-size: 1.4em;
    transition: opacity ease 0.3s 0.2s;
    pointer-events: none;

    .kui-theme--light & {
      fill: $node-labeltext-fill-light;
    }

    .kui-theme--dark & {
      text-shadow: 0 0 6px black;
      fill: $node-labeltext-fill-dark;
    }
  }

  rect {
    stroke-width: 1px;

    .kui-theme--light & {
      fill: $node-fill-light-default;
      stroke: $node-stroke-light-default;

      @media print {
        fill: $node-fill-light-export;
        stroke: $node-stroke-light-export;
      }
    }

    .pipeline-graph--export.kui-theme--light & {
      fill: $node-fill-light-export;
      stroke: $node-stroke-light-export;
    }

    .kui-theme--dark & {
      fill: $node-fill-dark-default;
      stroke: $node-stroke-dark-default;
    }
  }

  &:focus {
    outline: none;

    [data-whatinput='keyboard'] & rect {
      stroke: $color-primary;
      stroke-width: 3.5px;
    }
  }
}

.pipeline-node--active {
  rect {
    .kui-theme--light & {
      fill: $node-fill-light-active;
      stroke: $node-stroke-light-active;
    }

    .kui-theme--dark & {
      fill: $node-fill-dark-active;
      stroke: $node-stroke-dark-active;
    }
  }
}

.pipeline-node--selected {
  rect {
    stroke-width: 2px;

    .kui-theme--light & {
      fill: $node-fill-light-selected;
      stroke: $node-stroke-light-selected;
    }

    .kui-theme--dark & {
      fill: $node-fill-dark-selected;
      stroke: $node-stroke-dark-selected;
    }
  }
}

.pipeline-node--faded {
  opacity: 0.3;
}

.pipeline-node--icon {
  text {
    opacity: 0;
    transition-delay: 0s;
    pointer-events: none;
  }
}

.pipeline-node__icon {
  pointer-events: none;

  .kui-theme--light & {
    fill: $node-icon-fill-light;
  }

  .kui-theme--dark & {
    fill: $node-icon-fill-dark;
  }
}
