@import '../../../styles/variables';

.pipeline-node {
  text {
    font-weight: 600;
    font-size: 1.4em;
    pointer-events: none;
    fill: var(--node-labeltext-fill);
  }

  .pipeline-node__bg {
    stroke-width: 1px;
    fill: var(--node-fill-default);
    stroke: var(--node-stroke-default);
  }

  &:focus {
    outline: none;

    [data-whatinput='keyboard'] & .pipeline-node__bg {
      stroke: $color-primary;
      stroke-width: 3.5px;
    }
  }
}

.pipeline-node--active {
  .pipeline-node__bg {
    fill: var(--node-fill-active);
    stroke: var(--node-stroke-active);
  }
}

.pipeline-node--parameters {
  .pipeline-node__bg {
    stroke: var(--parameter-accent);
  }
}

.pipeline-node__parameter-indicator {
  opacity: 0;
  transition: opacity 0.3s ease;
  fill: var(--parameter-accent);

  &--visible {
    opacity: 1;
  }
}

.pipeline-node--selected {
  .pipeline-node__bg {
    stroke-width: 2px;
    fill: var(--node-fill-selected);
    stroke: var(--node-stroke-selected);
  }
}

.pipeline-node--collapsed-hint {
  .pipeline-node__bg {
    stroke: var(--parameter-accent);
  }
}

.pipeline-node--faded {
  opacity: 0.3;
}

.pipeline-node__icon {
  transition: transform 0.3s ease;
  pointer-events: none;
  fill: var(--node-icon-fill);
}

.pipeline-node__text {
  transition: opacity 0.15s ease;
}
