@import './variables';

.node--text {
  text {
    font-weight: 600;
    transition: all ease 0.1s;
    pointer-events: none;

    .kui-theme--light & {
      fill: $node-labeltext-fill-light;
    }

    .kui-theme--dark & {
      text-shadow: 0 0 10px rgba(black, 0.5);
      fill: $node-labeltext-fill-dark;
    }
  }

  rect {
    stroke-width: 1px;
    transition: all ease 0.1s;

    .kui-theme--light & {
      fill: $node-fill-light;
      stroke: $node-stroke-light;
    }

    .kui-theme--dark & {
      fill: $node-fill-dark;
      stroke: $node-stroke-dark;
    }
  }

  &.node--highlight {
    text {
      .kui-theme--light & {
        fill: $node-labeltext-fill-light-active;
      }

      .kui-theme--dark & {
        fill: $node-labeltext-fill-dark-active;
      }
    }

    rect {
      .kui-theme--light & {
        fill: $node-fill-light-highlight;
        stroke: $node-stroke-light-highlight;
      }

      .kui-theme--dark & {
        fill: $node-fill-dark-highlight;
        stroke: $node-stroke-dark-highlight;
      }
    }
  }

  &.node--active {
    text {
      .kui-theme--light & {
        fill: $node-labeltext-fill-light-active;
      }

      .kui-theme--dark & {
        fill: $node-labeltext-fill-dark-active;
      }
    }

    rect {
      stroke-width: 3px;

      .kui-theme--light & {
        fill: $node-fill-light-active;
        stroke: $node-stroke-light-active;
      }

      .kui-theme--dark & {
        fill: $node-fill-dark-active;
        stroke: $node-stroke-dark-active;
      }

      [data-whatinput='keyboard'] & {
        stroke-width: 3.5px;
        stroke: $color-link;
      }
    }
  }

  svg,
  circle {
    opacity: 0;
    pointer-events: none;
  }
}
