@import './variables';

.node--icon {
  rect {
    stroke-width: 1px;
    transition: all ease 0.1s;

    .kui-theme--light & {
      fill: $node-fill-light;
      stroke: $node-stroke-light;
    }

    .kui-theme--dark & {
      fill: $node-fill-dark;
      stroke: $node-stroke-dark;
    }
  }

  &.node--highlight {
    rect {
      .kui-theme--light & {
        fill: $node-fill-light-highlight;
        stroke: $node-stroke-light-highlight;
      }

      .kui-theme--dark & {
        fill: $node-fill-dark-highlight;
        stroke: $node-stroke-dark-highlight;
      }
    }
  }

  &.node--active {
    rect {
      stroke-width: 3px;

      .kui-theme--light & {
        fill: $node-fill-light-active;
        stroke: $node-stroke-light-active;
      }

      .kui-theme--dark & {
        fill: $node-fill-dark-active;
        stroke: $node-stroke-dark-active;
      }

      [data-whatinput='keyboard'] & {
        stroke-width: 3.5px;
        stroke: $color-link;
      }
    }
  }

  text {
    opacity: 0;
    pointer-events: none;
  }
}

.node__icon {
  pointer-events: none;
}

.node__icon path {
  .kui-theme--light & {
    fill: $node-icon-fill-light;
  }

  .kui-theme--dark & {
    fill: $node-icon-fill-dark;
  }
}
