@import '../../../styles/variables';

/**
 * Themed colour variables for the flowchart component
 */

.kui-theme--light {
  --node-icon-fill: #{$color-text-light};
  --node-fill-default: #{$color-bg-light-3};
  --node-stroke-default: #c6cace;
  --node-fill-active: #c6e6fb;
  --node-stroke-active: #b2cada;
  --node-fill-selected: #aad8ff;
  --node-stroke-selected: #{$color-primary};
  --node-labeltext-fill: #{$color-text-light};
  --edge-stroke: #888;
  --edge-arrowhead-fill: #{$color-bg-dark-6};
  --layer-fill: #{mix($color-bg-light-1, $color-bg-light-2)};
  --layer-text: #{rgba(black, 0.65)};
  --parameter-accent: #a000bc;

  @mixin export {
    --node-fill-default: #{$color-bg-light-3};
    --node-stroke-default: #6b6a6b;
    --edge-stroke: #686768;
    --edge-arrowhead-fill: #686768;
  }

  &.pipeline-graph--export {
    @include export;
  }

  @media print {
    @include export;
  }
}

.kui-theme--dark {
  --node-icon-fill: #{$color-text-dark};
  --node-fill-default: #{$color-bg-dark-6};
  --node-stroke-default: #354854;
  --node-fill-active: #124066;
  --node-stroke-active: #234f73;
  --node-fill-selected: #004d8c;
  --node-stroke-selected: #{$color-primary};
  --node-labeltext-fill: #{$color-text-dark};
  --edge-stroke: #666;
  --edge-arrowhead-fill: #cacaca;
  --layer-fill: #{mix($color-bg-dark-1, $color-bg-dark-2)};
  --layer-text: #{rgba(white, 0.65)};
  --parameter-accent: #ffbc00;
}
