@import '../../../styles/variables';

/**
 * List of colour variables for the different parts of the flowchart
 */

//-------------- LIGHT --------------//

// Icon

$node-icon-fill-light: $color-text-light;

// Circle/Rect

$node-fill-light: lighten($color-bg-light, 10%);
$node-fill-light-highlight: lighten($color-bg-light, 13%);
$node-fill-light-active: lighten($color-bg-light, 20%);

$node-stroke-light: mix($color-text-light, $color-bg-light, 50%);
$node-stroke-light-highlight: mix($color-text-light, $color-bg-light, 90%);
$node-stroke-light-active: $color-text-light;

// Label

$node-labeltext-fill-light: rgba($color-text-light, 0.9);
$node-labeltext-fill-light-active: $color-text-light;

// Edge

$edge-light: mix($color-text-light, $color-bg-light, 75%);

//-------------- DARK --------------//

// Icon

$node-icon-fill-dark: $color-text-dark;

// Circle/Rect

$node-fill-dark: lighten($color-bg-dark, 10%);
$node-fill-dark-highlight: lighten($color-bg-dark, 13%);
$node-fill-dark-active: lighten($color-bg-dark, 20%);

$node-stroke-dark: mix($color-text-dark, $color-bg-dark, 30%);
$node-stroke-dark-highlight: mix($color-text-dark, $color-bg-dark, 80%);
$node-stroke-dark-active: $color-text-dark;

// Label

$node-labeltext-fill-dark: rgba($color-text-dark, 0.8);
$node-labeltext-fill-dark-active: $color-text-dark;

// Edge

$edge-dark: mix($color-text-dark, $color-bg-dark, 85%);
