@import './node';
@import './edges';
@import './layers';

.pipeline-flowchart {
  height: 100%;
}

.pipeline-flowchart__graph {
  display: block;

  &.pipeline-graph--export.kui-theme--dark {
    background: $color-bg-dark-1;
  }

  @media print {
    width: 100%;
    height: auto;
  }
}

.pipeline-zoom-wrapper {
  &--hidden {
    opacity: 0;
  }

  @media print {
    transform: inherit;
    opacity: 1;
  }
}

// Applied during pan, zoom and indirectly by transitions
.pipeline-flowchart__zoom-wrapper--animating {
  // Performance: Lower render quality
  shape-rendering: optimizeSpeed;
  text-rendering: optimizeSpeed;

  // Performance: Disable all hit tests
  pointer-events: none;
}
