@import './node';
@import './edges';
@import './tooltip';

.pipeline-flowchart {
  height: 100%;
}

.pipeline-flowchart__graph {
  display: block;
}

.band {
  opacity: 0;
  transition: opacity ease 0.5s;
  fill: rgba(white, 0.1);

  &:hover {
    opacity: 1;
  }
}

.band-names-bg {
  pointer-events: none;
  fill: rgba(white, 0.1);
}

.band-name {
  font-weight: bold;
  font-size: 13px;
  pointer-events: none;
  fill: white;
}
