@import './node-icon';
@import './node-text';
@import './edges';
@import './tooltip';

.pipeline-flowchart {
  height: 100%;
}

.pipeline-flowchart__graph {
  display: block;
}

.node {
  outline: none;
}

.node--faded {
  opacity: 0.3;
}
