@import '../../styles/variables';

.pipeline-icon-toolbar {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 20px;
  list-style: none;
}

.pipeline-icon-button {
  position: relative;
  margin: 0;
  margin-bottom: 0.8em;
  padding: 0.8em;
  color: inherit;
  background: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
  user-select: none;

  .kui-theme--light &,
  .kui-theme--light & span {
    background: rgba($color-bg-light, 0.9);
  }

  .kui-theme--dark &,
  .kui-theme--dark & span {
    background: rgba($color-bg-dark, 0.9);
  }

  &:focus {
    outline: 3px solid $color-link;

    [data-whatinput='mouse'] & {
      outline: none;
    }
  }

  span {
    position: absolute;
    right: 100%;
    margin: -0.3em 0;
    padding: 0.3em 0.4em;
    font-size: 1.4em;
    white-space: nowrap;
    transform: translateX(2em);
    visibility: hidden;
    opacity: 0;
    transition: all ease 0.2s, width 0s;
  }

  &:hover span,
  [data-whatinput='keyboard'] &:focus span {
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
  }

  svg {
    position: relative;
    display: block;
    width: 2em;
    height: 2em;
  }
}

.pipeline-icon-modal {
  .kui-button {
    margin: 0 10px;
  }
}
