@import '../../styles/extends';
@import '../../styles/mixins';
@import '../../styles/variables';

$toggle-size: 2.4em;
$toggle-margin-right: 0.8em;
$row-padding-y: 0.8em;
$row-padding-x: 1.2em;
$row-icon-margin: 0.5em;
$row-icon-size: 2.4em;
$visibility-icon-padding: 0.3em;
$visibility-icon-size: 2.4em + $visibility-icon-padding * 2;
$row-offset-left: $row-padding-x + $toggle-size + $toggle-margin-right;
$row-offset-right: $row-padding-x + $row-icon-size + $row-icon-margin;

.pipeline-nodelist-search {
  padding: 14px 12px 12px;

  .kui-theme--light & {
    background: $color-bg-light-alt2;
  }

  .kui-theme--dark & {
    background: $color-bg-dark-alt2;
  }

  .kui-searchbar,
  .kui-input-wrapper {
    max-width: none;
  }
}

.pipeline-nodelist-scrollbars {
  min-height: 400px;

  .kui-theme--light & {
    background: $color-bg-light-alt2;
  }

  .kui-theme--dark & {
    background: $color-bg-dark-alt2;
  }
}

.pipeline-nodelist__toggle {
  margin: 0 24px;
}

.pipeline-nodelist__toggle__title {
  margin: 0 0 12px;
  font-weight: 600;
  font-size: 1.8em;
}

.pipeline-nodelist__toggle__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 12px 0;
  padding: 10px 0;

  .kui-theme--light & {
    border-top: 1px solid $color-line-light;
    border-bottom: 1px solid $color-line-light;
  }

  .kui-theme--dark & {
    border-top: 1px solid $color-line-dark;
    border-bottom: 1px solid $color-line-dark;
  }
}

.pipeline-nodelist__toggle__button {
  margin: -1px -6px -2px;
  padding: 1px 6px 2px;
  color: inherit;
  font-size: 1.6em;
  font-family: inherit;
  background: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
  opacity: 0.8;

  &:focus {
    outline: 4px solid $color-link;
    opacity: 1;

    [data-whatintent='mouse'] & {
      outline: none;
    }
  }

  &:hover {
    opacity: 1;
  }
}

.pipeline-nodelist__toggle__icon {
  margin: 0 4px -6px -6px;
  fill: white;

  .kui-theme--light & {
    fill: rgba(black, 0.9);
  }

  .kui-theme--dark & {
    fill: white;
  }

  &--uncheck {
    transform: scale(0.75);
  }
}

%nolist {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pipeline-nodelist {
  @extend %nolist;

  li {
    @extend %nolist;
  }

  .kui-theme--light & {
    background: $color-bg-light-alt2;
  }

  .kui-theme--dark & {
    background: $color-bg-dark-alt2;
  }

  &--nested {
    margin: 0 0 1.2em;
  }

  &--fade-in {
    animation: fadeIn 0.4s forwards;
  }

  &--fade-out {
    animation: fadeIn 0.4s backwards reverse;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.pipeline-nodelist__heading {
  margin: 0;
}

.pipeline-nodelist__row {
  position: relative;
  display: flex;
  align-items: center;

  &:hover {
    background: rgba(#fff, 0.05);
  }

  &--active,
  &--active:hover {
    background: rgba(#fff, 0.1);
  }

  &--disabled {
    pointer-events: none;
  }
}

.pipeline-type-group-toggle {
  position: absolute;
  left: $row-padding-x;
  width: $toggle-size;
  height: $toggle-size;
  margin-right: $toggle-margin-right;
  padding: 0;
  color: inherit;
  font-family: inherit;
  line-height: 1em;
  text-align: center;
  background: none;
  border: none;
  border-radius: 50%;
  box-shadow: none;
  cursor: pointer;
  transition: transform ease 0.3s;

  &:focus {
    outline: none;

    [data-whatintent='keyboard'] & {
      box-shadow: 0 0 0 3px $color-link inset;
    }
  }

  &:before {
    font-size: 1.5em;
    content: '▾';
  }

  &:hover {
    background: rgba(#fff, 0.1);
    box-shadow: 0 0 0 1px rgba(#fff, 0.03) inset;
  }

  &--alt {
    transform: rotate(-180deg);
  }
}

.pipeline-nodelist__row__icon {
  display: block;
  flex-shrink: 0;
  width: $row-icon-size;
  height: $row-icon-size;
  transition: opacity ease 0.1s;

  .kui-theme--light & {
    fill: $color-text-light;
  }

  .kui-theme--dark & {
    fill: $color-text-dark;
  }
}

.pipeline-nodelist__row__type-icon {
  margin-right: $row-icon-margin;

  &--nested {
    opacity: 0;
  }

  .pipeline-nodelist__row:hover &,
  [data-whatintent='keyboard'] .pipeline-nodelist__row__text:focus & {
    opacity: 1;

    &--unchecked {
      opacity: 0.55;
    }
  }
}

.pipeline-nodelist__row__text {
  display: flex;
  align-items: center;
  width: 100%;
  padding: $row-padding-y $row-offset-right $row-padding-y $row-offset-left;
  color: inherit;
  font-size: inherit;
  text-align: inherit;
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  transition: opacity ease 0.1s;

  &:focus {
    outline: 4px solid $color-link;

    [data-whatintent='mouse'] & {
      outline: none;
    }
  }
}

.pipeline-nodelist__row__checkbox {
  @include screenReaderOnly;
}

.pipeline-nodelist__row__label {
  overflow: hidden;
  font-size: 1.6em;
  white-space: nowrap;
  text-overflow: ellipsis;

  &--disabled,
  &--unchecked {
    opacity: 0.55;
  }

  b {
    font-weight: normal;
    opacity: 0.3;
  }
}

.pipeline-nodelist__row__visibility {
  position: absolute;
  right: $row-padding-x;
  cursor: pointer;
}

.pipeline-nodelist__row__visibility-icon {
  width: $visibility-icon-size;
  height: $visibility-icon-size;
  padding: $visibility-icon-padding;
  border-radius: 50%;
  opacity: 0;
  transition: opacity ease 0.2s;

  &--unchecked,
  .pipeline-nodelist__row__text:focus + label &,
  .pipeline-nodelist__row:hover & {
    opacity: 0.55;
  }

  .pipeline-nodelist__row:hover &:hover {
    opacity: 1;
  }

  .pipeline-nodelist__row__checkbox:focus + & {
    outline: none;
    transition: box-shadow ease 0.2s;

    [data-whatintent='keyboard'] & {
      box-shadow: 0 0 0 3px $color-link inset;
      opacity: 1;
    }
  }
}

.pipeline-nodelist__row__checkbox {
  @include screenReaderOnly;
}
