@import '../../styles/extends';
@import '../../styles/mixins';
@import '../../styles/variables';

.pipeline-nodelist-search {
  padding: 14px 12px 12px;

  .kui-theme--light & {
    background: $color-bg-light-alt2;
  }

  .kui-theme--dark & {
    background: $color-bg-dark-alt2;
  }

  .kui-searchbar,
  .kui-input-wrapper {
    max-width: none;
  }
}

.pipeline-nodelist-scrollbars {
  min-height: 400px;

  .kui-theme--light & {
    background: $color-bg-light-alt2;
  }

  .kui-theme--dark & {
    background: $color-bg-dark-alt2;
  }
}

.pipeline-nodelist__toggle-title {
  margin: 0 24px 12px;
  font-weight: 600;
  font-size: 1.8em;
}

.pipeline-nodelist__toggle-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 12px 24px;
  padding: 10px 0;

  .kui-theme--light & {
    border-top: 1px solid $color-line-light;
    border-bottom: 1px solid $color-line-light;
  }

  .kui-theme--dark & {
    border-top: 1px solid $color-line-dark;
    border-bottom: 1px solid $color-line-dark;
  }
}

.pipeline-nodelist__toggle {
  margin: -1px -6px -2px;
  padding: 1px 6px 2px;
  color: inherit;
  font-size: 1.6em;
  font-family: inherit;
  background: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
  opacity: 0.8;

  &:focus {
    outline: 4px solid $color-link;
    opacity: 1;

    [data-whatintent='mouse'] & {
      outline: none;
    }
  }

  &:hover {
    opacity: 1;
  }
}

.pipeline-nodelist__icon {
  margin: 0 4px -6px -6px;
  fill: white;

  .kui-theme--light & {
    fill: rgba(black, 0.9);
  }

  .kui-theme--dark & {
    fill: white;
  }

  &--uncheck {
    transform: scale(0.75);
  }
}

%nolist {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pipeline-nodelist {
  @extend %nolist;

  li {
    @extend %nolist;
  }

  margin: 0 12px;

  .kui-theme--light & {
    background: $color-bg-light-alt2;
  }

  .kui-theme--dark & {
    background: $color-bg-dark-alt2;
  }

  &--nested {
    margin: 0 0 12px;
  }

  &--fade-in {
    animation: fadeIn 0.4s forwards;
  }

  &--fade-out {
    animation: fadeIn 0.4s backwards reverse;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.pipeline-type-group-toggle {
  $size: 2.4em;
  z-index: 1;
  width: $size;
  height: $size;
  margin-right: 0.8em;
  padding: 0;
  color: inherit;
  font-family: inherit;
  line-height: 1em;
  text-align: center;
  background: none;
  border: none;
  border-radius: 50%;
  box-shadow: none;
  cursor: pointer;
  transition: transform ease 0.3s;

  &:focus {
    outline: none;

    [data-whatintent='keyboard'] & {
      box-shadow: 0 0 0 3px $color-link inset;
    }
  }

  &:before {
    font-size: 1.5em;
    content: '▾';
  }

  &:hover {
    background: rgba(#fff, 0.1);
    box-shadow: 0 0 0 1px rgba(#fff, 0.03) inset;
  }

  &--alt {
    transform: rotate(-180deg);
  }
}

.pipeline-nodelist__heading {
  margin: 0;
}

.pipeline-nodelist__row {
  display: flex;
  align-items: center;
  padding: 0.8em 1.2em;
  transition: opacity ease 0.4s;

  &--nested {
    padding-left: 4.6em;
  }

  &--unchecked {
    opacity: 0.3;
  }

  &--disabled {
    display: none;
  }

  &:hover,
  &--active {
    background: rgba(#fff, 0.1);
  }
}

.pipeline-nodelist__row__icon {
  display: inline-block;
  flex-shrink: 0;
  width: 2.4em;
  height: 2.4em;
  transition: opacity ease 0.1s;

  .kui-theme--light & {
    fill: $color-text-light;
  }

  .kui-theme--dark & {
    fill: $color-text-dark;
  }

  &--type {
    margin-right: 1em;

    &--nested {
      opacity: 0;

      .pipeline-nodelist__row:hover &,
      .pipeline-nodelist__row:hover & {
        opacity: 1;
      }
    }

    &--unchecked {
      .pipeline-nodelist__row:hover &,
      .pipeline-nodelist__row:hover & {
        opacity: 0.55;
      }
    }
  }

  &--visibility {
    opacity: 0;

    .pipeline-nodelist__row:hover &,
    .pipeline-nodelist__row:focus & {
      opacity: 0.8;
    }
  }
}

.pipeline-nodelist__row__checkbox {
  @include screenReaderOnly;
}

.pipeline-nodelist__row__label {
  flex-grow: 2;
  overflow: hidden;
  font-size: 1.6em;
  white-space: nowrap;
  text-overflow: ellipsis;

  &--unchecked {
    opacity: 0.55;
  }

  b {
    opacity: 0.3;
  }
}
