@import '../../styles/extends';
@import '../../styles/variables';

.pipeline-node-list-search {
  background: $color-bg-dark-alt;
  padding: 14px 12px 12px;

  .cbn-searchbar,
  .cbn-input-wrapper {
    width: 100%;
  }
}

.pipeline-node-list-scrollbars {
  min-height: 150px;
  background: $color-bg-dark-alt;
}

.pipeline-node-list__toggle-title {
  margin: 0 24px 12px;
  font-size: 1.8em;
  font-weight: 600;
}

.pipeline-node-list__toggle-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 12px 24px;
  padding: 10px 0;
  border-top: 1px solid #081c28;
  border-bottom: 1px solid #081c28;
}

.pipeline-node-list__toggle {
  background: none;
  padding: 2px 0 1px;
  box-shadow: none;
  border: none;
  color: inherit;
  font-size: 1.6em;
  cursor: pointer;
  opacity: 0.8;
  outline: none;
  border-bottom: 1px solid transparent;

  &:focus {
    border-bottom: 1px solid rgba(white, 0.5);
  }

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.pipeline-node-list__icon {
  margin: 0 4px -6px -6px;
  fill: white;

  &--uncheck {
    transform: scale(0.75);
  }
}

.pipeline-node-list {
  margin: 0 12px;
  padding: 0;
  list-style: none;
}

.pipeline-node {
  &:hover,
  &.pipeline-node--active {
    background: rgba(#fff, 0.1);
  }

  .cbn-switch {
    margin: 0;

    label {
      max-width: 100%;
      padding: 12px;
      text-align: left;

      span {
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: calc(100% - 35px);

        b {
          opacity: 0.3;
        }
      }
    }
  }
}
