@import '../../styles/extends';
@import '../../styles/variables';

.kui-theme--light {
  --pipeline-list-option-bg-active: #{$color-bg-light-4};
  --pipeline-list-option-text-color: #{$color-text-dark-alt};
}

.kui-theme--dark {
  --pipeline-list-option-bg-active: #{$color-bg-dark-4};
  --pipeline-list-option-text-color: #{$color-text-light-alt};
}

.pipeline-list {
  .dropdown__label,
  .menu-option {
    height: 58px;

    &.pipeline-list__option--active {
      background: var(--pipeline-list-option-bg-active);
      border-left: 2px solid $color-primary;
      color: var(--pipeline-list-option-text-color);
    }
  }
}
