ul {
  position: absolute;
  right: 20px;
  opacity: 0.8; }
  ul:before {
    content: 'Nodes';
    display: block;
    font-weight: bold;
    margin-bottom: 10px; }
  ul li {
    padding: 8px 20px;
    list-style: none; }

table {
  position: absolute;
  padding: 20px;
  opacity: 0.8; }
  table:before {
    content: 'Paths';
    display: block;
    font-weight: bold;
    margin-bottom: 10px; }

tr:nth-child(even) {
  background: rgba(255, 255, 255, 0.4); }

td {
  border-collapse: collapse;
  border-spacing: 0;
  padding: 5px 10px;
  text-align: center; }

svg {
  font-size: 14px;
  text-shadow: 0 0 3px #000; }
