ul {
  position: absolute;
  right: 0; }
  ul li {
    padding: 8px 20px;
    list-style: none; }
    ul li:nth-child(even) {
      background: rgba(255, 255, 255, 0.4); }

table {
  position: absolute;
  padding: 20px; }

tr:nth-child(even) {
  background: rgba(255, 255, 255, 0.4); }

td {
  border-collapse: collapse;
  border-spacing: 0;
  padding: 5px 10px; }

svg {
  font-size: 14px;
  text-shadow: 0 0 3px #000; }
