// TODO remove this:
ul {
  position: absolute;
  right: 20px;
  opacity: 0.8;
  &:before {
    content: 'Nodes';
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  li {
    padding: 8px 20px;
    list-style: none;
  }
}

table {
  position: absolute;
  padding: 20px;
  opacity: 0.8;
  &:before {
    content: 'Paths';
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
}
tr:nth-child(even) {
  background: rgba(#fff, 0.4);
}
td {
  border-collapse: collapse;
  border-spacing: 0;
  padding: 5px 10px;
  text-align: center;
}

svg {
  font-size: 14px;
  text-shadow: 0 0 3px #000;
}