$c_bg: #1d2f3a;
$c_edge: mix($c_bg, #fff, 15);
$c_tooltipBg: rgba(mix($c_bg, #111, 50), 0.9);

.flowchart {
  position: relative;
}

.flowchart__graph {
  display: block;

  .node {
    circle {
      fill: lighten($c_bg, 10%);
      stroke: rgba(#000, 0.15);
    }
    rect {
      fill: darken($c_bg, 2%);
      stroke: darken($c_bg, 3%);
    }
    circle,
    rect {
      stroke-width: 1px;
      transition: all ease 0.1s;
    }
  }

  .label {
    transition: all ease 0.1s;
    opacity: 0.8;

    img {
      display: block;
    }

    text {
      pointer-events: none;
      fill: white;
    }
  }

  .node--highlighted {
    circle {
      fill: lighten($c_bg, 20%);
      stroke-width: 1.5px;
      stroke: #fff;
    }

    rect {
      fill: darken($c_bg, 4%);
      stroke: darken($c_bg, 5%);
    }

    .label {
      opacity: 1;
    }
  }

  .node--faded {
    circle,
    rect,
    .label {
      opacity: 0.3;
    }
  }

  .edgePath > path {
    stroke: $c_edge;
    stroke-width: 1.5px;
  }

  .edgePath marker path {
    fill: $c_edge;
  }

  .edgePath--faded path {
    opacity: 0.1;
  }
}

.flowchart__tooltip {
  position: absolute;
  top: -70px;
  left: -20px;
  padding: 12px 20px;
  background: $c_tooltipBg;
  color: white;
  opacity: 0;
  transition: opacity ease 0.1s;
  pointer-events: none;
  z-index: 9;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

  &.tooltip--visible {
    opacity: 1;
  }

  &.tooltip--right {
    left: auto;
    right: -20px;

    &::before {
      left: auto;
      right: 10px;
    }
  }

  &::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: $c_tooltipBg transparent transparent;
  }

  b {
    display: block;
    font-size: 15px;
    margin-bottom: 3px;
  }
  small {
    display: block;
    font-size: 10px;
  }
}
