@import '../../styles/variables';
@import '../../styles/extends';

.pipeline-plotly-chart {
  display: flex;

  .js-plotly-plot {
    align-items: center;
    display: flex;
  }
}

.pipeline-plotly__oneChart {
  height: calc(92% - 80px);
  margin: 0 0 24px;
  width: 100%;
}

.pipeline-plotly__twoChart {
  display: flex;
  height: 100%;
  margin: 0 0 24px;
  // max-height: 375px;
  width: 100%;

  .js-plotly-plot {
    align-items: center;
    display: flex;
  }
}

.pipeline-plotly__threeChart {
  display: flex;
  height: calc(92% - 100px);
  margin-left: 5em;
  width: calc(98% - 940px - #{$global-toolbar-width});

  .js-plotly-plot {
    align-items: center;
    display: flex;
  }
}
