@use '../../styles/variables' as colors;

/**
 * Themed colour variables for the flowchart component
 */

.kui-theme--light {
  --node-fill-success: #d8e8e0;
  --node-stroke-success: #26bf56;
  --node-fill-failed: #ecdbdd;
  --node-stroke-failed: #f03b3a;
  --node-fill-skipped: #{colors.$white-200};
  --node-stroke-skipped: #{colors.$black-0};
}

.kui-theme--dark {
  --node-fill-success: #1d3c28;
  --node-stroke-success: #40d86e;
  --node-fill-failed: #412526;
  --node-stroke-failed: #f56565;
  --node-fill-skipped: #{colors.$slate-0};
  --node-stroke-skipped: #{colors.$black-400};
}
