@use '../../styles/variables' as colors;
@use './variables';

.pipeline-workflow {
  height: 100%;
}

// Applied during pan, zoom and indirectly by transitions
.pipeline-workflow__zoom-wrapper--animating {
  // Performance: Lower render quality
  shape-rendering: optimizespeed;
  text-rendering: optimizespeed;
}

// Styling for Workflow chart only
.pipeline-node__details-bg {
  fill: #1a1a1a;
  stroke: none;
}

.pipeline-node.pipeline-node--status-success .pipeline-node__bg {
  stroke: var(--node-stroke-success);
  fill: var(--node-fill-success);
}

.pipeline-node.pipeline-node--status-success .pipeline-node__details-value {
  fill: var(--node-labeltext-fill);
}

.pipeline-node.pipeline-node--status-failed .pipeline-node__bg {
  stroke: var(--node-stroke-failed);
  fill: var(--node-fill-failed);
}

.pipeline-node.pipeline-node--status-skipped .pipeline-node__bg {
  stroke: var(--node-stroke-skipped);
  fill: var(--node-fill-skipped);
}

.pipeline-node.pipeline-node--status-skipped .pipeline-node__icon,
.pipeline-node.pipeline-node--status-skipped .pipeline-node__text {
  fill: colors.$black-400;
}

.pipeline-node.pipeline-node--status-skipped .pipeline-node__details-value {
  fill: colors.$black-400;
}

.pipeline-node {
  .pipeline-node__details-label {
    fill: #b2b2b2;
  }

  .pipeline-node__details-outline {
    stroke: colors.$black-400;
    stroke-width: 2px;
    fill: none;
  }
}
