@import '../../styles/variables';
@import '../../styles/mixins';

.pipeline-sidebar {
  @include sidebarBase;

  position: absolute;
  top: -1px; /* Avoids pixel rounding gaps */
  bottom: -1px;
  left: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  transform: translateX(calc(-100% + #{$sidebar-width-closed}));
  transition: transform ease 0.4s;

  @media (min-width: $sidebar-width-breakpoint) {
    width: $sidebar-width-open;
    $sidebar-ui-width: $sidebar-width-open - $sidebar-width-closed;
    transform: translateX(-$sidebar-ui-width);
  }

  &--visible {
    transform: translateX(0);
  }

  @media print {
    display: none;
  }

  &--visible {
    transform: translateX(0);
  }
}

.pipeline-ui {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  visibility: hidden;
  transition: visibility 0.3s;

  .pipeline-sidebar--visible & {
    visibility: visible;
    transition: visibility 0s;
  }

  .kui-theme--light & {
    background: $color-bg-light-3;
  }

  .kui-theme--dark & {
    background: $color-bg-dark-3;
  }
}

.pipeline-toolbar {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $sidebar-width-closed;
  height: 100%;

  .kui-theme--light & {
    background: $color-bg-light-2;
  }

  .kui-theme--dark & {
    background: $color-bg-dark-2;
  }
}
