@import '../../styles/variables';

.pipeline-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 100%;
  transform: translateX(calc(-100% + #{$sidebar-width-closed}));
  transition: transform ease 0.4s;

  @media (min-width: $sidebar-breakpoint) {
    width: $sidebar-width-open;
    $sidebar-ui-width: $sidebar-width-open - $sidebar-width-closed;
    transform: translateX(-$sidebar-ui-width);
  }

  &--visible {
    transform: translateX(0);
  }

  .kui-theme--light & {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
  }

  .kui-theme--dark & {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
}

.pipeline-ui {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  padding-top: 12px;
  visibility: hidden;
  transition: visibility 0.3s;

  .pipeline-sidebar--visible & {
    visibility: visible;
    transition: visibility 0s;
  }

  .kui-theme--light & {
    background: $color-bg-light-alt;
  }

  .kui-theme--dark & {
    background: $color-bg-dark-alt;
  }
}
