@import '../../styles/variables';
@import '../../styles/extends';

.kui-theme--light {
  --minimap-toolbar-active: #{$color-bg-light-3};
}

.kui-theme--dark {
  --minimap-toolbar-active: #{$color-bg-dark-4};
}

.pipeline-minimap-toolbar {
  display: block;
  margin-top: auto;
  padding: 0;
  list-style: none;
}

.pipeline-minimap-button {
  height: $sidebar-width-closed - 14;
  transition: background-color 300ms ease;
}

.pipeline-minimap-button.pipeline-icon-toolbar__button--active {
  background: var(--minimap-toolbar-active);
}

.pipeline-minimap-button--map {
  padding-top: 4px;
}

.pipeline-minimap-toolbar__scale {
  display: block;
  width: 100%;
  padding: 6px 8px 6px;
  color: var(--color-text);
  font-weight: bold;
  font-size: 10px;
  text-align: center;
}
