@import '../../styles/variables';
@import '../../styles/extends';

.kui-theme--light {
  --minimap-toolbar-active: #{$color-bg-light-3};
}

.kui-theme--dark {
  --minimap-toolbar-active: #{$color-bg-dark-4};
}

.pipeline-minimap-toolbar {
  @extend %listReset;

  margin-top: auto;
}

.pipeline-minimap-button {
  transition: background-color 300ms ease;
}

.pipeline-minimap-button.pipeline-icon-toolbar__button--active {
  svg {
    opacity: 1;
  }
}

.pipeline-minimap-button--map {
  padding-top: 4px;
}

.pipeline-minimap-toolbar__scale {
  color: var(--color-text);
  display: block;
  font-size: 12px;
  font-weight: bold;
  margin-top: 16px;
  padding: 6px 8px 6px;
  text-align: center;
  width: 100%;
}
