@import '../../../styles/variables';
@import '../../../styles/extends';

$triangle-size: 7px;

.pipeline-icon-toolbar__button {
  position: relative;
  width: $sidebar-width-closed;
  height: $sidebar-width-closed;
  padding: 0;
  color: inherit;
  font-size: 1.1em;
  text-align: center;
  vertical-align: middle;
  background: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
  user-select: none;

  @media (max-height: 550px) {
    height: $sidebar-width-closed - 14;
  }

  &:focus {
    outline: none;

    [data-whatinput='keyboard'] & {
      outline: 3px solid $color-link;
    }
  }

  &:hover svg {
    opacity: 1;
  }

  &:disabled {
    cursor: not-allowed;

    svg {
      opacity: 0.2;
    }
  }

  svg {
    width: 2.175em;
    height: 2.175em;
  }
}

.pipeline-toolbar__label {
  @extend %tooltip;

  position: absolute;
  display: none;
  padding: 0.5em 0.7em;
  font-size: 1.4em;
  white-space: nowrap;

  @media (max-width: $sidebar-width-breakpoint) {
    .pipeline-sidebar--visible & {
      right: 50%;
      left: auto;
      margin-right: 1.6em;
      margin-left: auto;
    }
  }

  .pipeline-icon-toolbar__button:hover &,
  [data-whatinput='keyboard'] .pipeline-icon-toolbar__button:focus & {
    display: inline-block;
  }

  &::after {
    position: absolute;

    width: 0;
    height: 0;
    border-style: solid;

    content: '';

    @media (max-width: $sidebar-width-breakpoint) {
      .pipeline-sidebar--visible & {
        right: -$triangle-size + 0.5;
        left: auto;
        border-color: transparent transparent transparent var(--color-bg-alt);
        border-width: $triangle-size 0 $triangle-size $triangle-size;
      }
    }
  }
}

// REMINDER TO DO: include breakpoints
.pipeline-toolbar__label-right {
  top: 50%;
  left: 50%;

  margin-top: -1.2em;
  margin-left: 1.6em;

  &::after {
    top: calc(50% - #{$triangle-size});
    left: -$triangle-size + 0.5;

    border-color: transparent var(--color-bg-alt) transparent transparent;
    border-width: $triangle-size $triangle-size $triangle-size 0;
  }
}

.pipeline-toolbar__label-left {
  top: 50%;
  right: 50%;

  margin-top: -1.2em;
  margin-right: 1.6em;

  &::after {
    top: calc(50% - #{$triangle-size});
    right: $triangle-size + 0.5;

    border-color: transparent transparent transparent var(--color-bg-alt);
    border-width: $triangle-size 0 $triangle-size $triangle-size;
  }
}

.pipeline-toolbar__label-bottom {
  left: 50%;
  transform: translateX(-50%);

  margin-top: 0.5em;

  &::after {
    bottom: 100%;
    left: calc(50% - #{$triangle-size});

    border-color: transparent transparent var(--color-bg-alt) transparent;
    border-width: 0 $triangle-size $triangle-size $triangle-size;
  }
}

.pipeline-toolbar__label-top {
  bottom: 100%;

  left: 50%;
  transform: translateX(-50%);

  margin-bottom: 0.5em;

  &::after {
    top: 100%;
    right: calc(50% - #{$triangle-size});

    border-color: var(--color-bg-alt) transparent transparent transparent;
    border-width: $triangle-size $triangle-size 0 $triangle-size;
  }
}

.pipeline-icon {
  opacity: 0.7;
  transition: opacity 300ms ease;
  fill: var(--color-default-alt);
}
