@import '../../styles/variables';

.experiment-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin-left: $global-toolbar-width;
}

.experiment-wrapper__header {
  font-size: 40px;
  font-weight: 300;
  letter-spacing: -0.3px;
  margin: 0 0 16px;
}

.experiment-wrapper__text {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.25;
  margin: 0 0 40px;
  max-width: 520px;
  text-align: center;
}
