@import './variables';

.pipeline-minimap-node {
  rect {
    .kui-theme--light & {
      fill: $node-fill-light-default;
    }

    .kui-theme--dark & {
      fill: $node-fill-dark-default;
    }
  }
}

.pipeline-minimap-node--active {
  rect {
    .kui-theme--light & {
      fill: #fff;
    }

    .kui-theme--dark & {
      fill: #293b46;
    }
  }
}

.pipeline-minimap-node--selected {
  rect {
    .kui-theme--light & {
      fill: #81f4ff;
    }

    .kui-theme--dark & {
      fill: #00b0f5;
    }
  }
}

.pipeline-minimap-node--faded {
  rect {
    .kui-theme--light & {
      fill: #c3c8ce;
    }

    .kui-theme--dark & {
      fill: #0e1b24;
    }
  }
}
