@import '../../../styles/variables';

/**
 * List of colour variables for the different parts of the minimap
 */

.kui-theme--light {
  --minimap-bg: #{$grey-400};
  --minimap-shadow: #{$white-400};
  --minimap-viewport-stroke: #{$white-600};
  --minimap-node-fill-default: #{$white-200};
  --minimap-node-fill-active: #{$white-0};
  --minimap-node-fill-selected: #{$blue-0};
  --minimap-node-fill-faded: #{$white-900};
}

.kui-theme--dark {
  --minimap-bg: #{$slate-800};
  --minimap-shadow: #{$slate-100};
  --minimap-viewport-stroke: #{$black-0};
  --minimap-node-fill-default: #{$slate-0};
  --minimap-node-fill-active: #{$slate-0};
  --minimap-node-fill-selected: #{$blue-300};
  --minimap-node-fill-faded: #{$slate-700};
}
