@import '../../../styles/variables';

/**
 * List of colour variables for the different parts of the minimap
 */

.kui-theme--light {
  --minimap-bg: #a6aeb6;
  --minimap-shadow: rgba(255, 255, 255, 0.5);
  --minimap-viewport-stroke: #d3dee3;
  --minimap-node-fill-default: #{$color-bg-light-3};
  --minimap-node-fill-active: white;
  --minimap-node-fill-selected: #81f4ff;
  --minimap-node-fill-faded: #c3c8ce;
}

.kui-theme--dark {
  --minimap-bg: #051116;
  --minimap-shadow: rgba(255, 255, 255, 0.05);
  --minimap-viewport-stroke: #8e8e90;
  --minimap-node-fill-default: #{$color-bg-dark-5};
  --minimap-node-fill-active: #293b46;
  --minimap-node-fill-selected: #{$color-primary};
  --minimap-node-fill-faded: #0e1b24;
}
