@import '../../../styles/variables';

/**
 * List of colour variables for the different parts of the minimap
 */

//-------------- LIGHT --------------//

// Node bg

$node-fill-light-default: #f0f1f3;
$node-fill-light-active: #fff;
$node-fill-light-selected: #81f4ff;
$node-fill-light-faded: #c3c8ce;

//-------------- DARK --------------//

// Node bg

$node-fill-dark-default: #2a3b46;
$node-fill-dark-active: #293b46;
$node-fill-dark-selected: #00b0f5;
$node-fill-dark-faded: #0e1b24;
