@import './node';

.pipeline-minimap__graph {
  display: block;
}

.pipeline-minimap__viewport {
  fill: none;
  stroke-width: 1px;

  .kui-theme--light & {
    stroke: #c8cccc;
  }

  .kui-theme--dark & {
    stroke: #162732;
  }
}
