@import '../../styles/extends';
@import '../../styles/variables';

.pipeline-upload .cbn-button {
  flex: none;
  margin: 2px;
}

.pipeline-upload {
  padding: 24px;

  .cbn-modal {
    width: 100vw;
    height: 100vh;
  }

  .cbn-modal__content {
    max-width: 500px;
  }

  .cbn-modal__title {
    text-align: left;
    margin-bottom: 20px;
  }

  .cbn-input-wrapper {
    width: 100%;
  }
}

.pipeline-upload__form {
  width: 100%;
  text-align: left;
  font-size: 1.6em;

  &--loading {
    .carbon {
      pointer-events: none;
      opacity: 0.3;
    }
  }
}

.pipeline-form-row {
  margin-bottom: 20px;

  &:last-of-type {
    text-align: right;
  }
}


.pipeline-loading {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 20px;
  background-color: $color-primary;
  transition: opacity ease 0.4s;
  opacity: 0;
  animation: sk-rotateplane 1.2s infinite ease-in-out;

  &--visible {
    opacity: 1;
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}