@import '../../styles/extends';
@import '../../styles/variables';

.pipeline-history-container {
  margin: -15px -30px 30px;
}

.pipeline-history {
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 1px solid rgba(white, 0.06);
}

.pipeline-history__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(white, 0.06);
  transition: background ease 0.1s;

  &:hover {
    background: rgba(white, 0.02);
  }

  &--active, &--active:hover {
    background: rgba(white, 0.04);
  }

  .cbn-switch {
    width: 100%;
    margin: 0;
  }

  .cbn-switch-radio__label {
    padding: 15px 30px;
  }
}

.pipeline-history__label {
  b {
    display: block;
    font-size: 1.1em;
    margin-bottom: 2px;
    font-weight: 600;
    word-break: break-all; // Fallback
    word-break: break-word; // Non-standard preferred fallback for WebKit
    hyphens: auto; // Desired result but poor support
  }

  span {
    display: block;
    font-size: 0.8em;
  }
}

.pipeline-history__delete {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  border-radius: 0;
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin: 0 25px 0 15px;
  text-align: center;
  transition: opacity ease 0.1s;
  opacity: 0;

  .pipeline-history__row:hover & {
    opacity: 0.3;
  }

  .pipeline-history__row--active &,
  .pipeline-history__row--active:hover & {
    opacity: 0.55;
  }

  .pipeline-history__row &:hover, .pipeline-history__row &:focus {
    opacity: 0.85;
  }

  .pipeline-history__row &:active {
    opacity: 1;
  }
}