@import '../../styles/extends';
@import '../../styles/variables';

.pipeline-history {
  margin: 30px -15px 0;
  padding: 0 15px;
  list-style: none;
  overflow: auto;
  height: 100%;
}

.pipeline-history__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pipeline-history__label {
  margin: 5px 0;

  b {
    display: block;
    font-size: 1.1em;
    margin-bottom: 2px;
    font-weight: 600;
  }

  span {
    display: block;
    font-size: 0.8em;
  }
}

.pipeline-history__delete {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  border-radius: 0;
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin: 0 -15px 20px 15px;
  text-align: center;
  opacity: 0.3;

  &:hover, &:focus {
    opacity: 1;
  }
}