@use '../node-list-tree/styles/variables';
@use '../../styles/extends';
@use '../../styles/variables' as colors;

.kui-theme--light {
  --color-text-reset: #{colors.$black-800};
}

.kui-theme--dark {
  --color-text-reset: #{colors.$white-600};
}

.filters__section-wrapper {
  margin: 0;
  padding: 4px 0 28px;
  list-style: none;
}

.filters__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6px (variables.$section-title-padding-x + 0.92) 12px
    (variables.$section-title-padding-x + 1.06);

  .filters__title {
    font-weight: normal;
    font-size: 1.6em;
    opacity: 0.55;
    user-select: none;
    margin: 0;
  }

  .filters__reset-button {
    @extend %button;

    font-size: 1.3em;
    cursor: pointer;
    color: var(--color-text-reset);
    opacity: 0.55;

    &:hover {
      opacity: 0.85;
    }

    &:disabled {
      cursor: default;
      opacity: 0;
    }
  }
}
