black==21.5b1
flake8>=3.7.9, <4.0
ipython~=7.16.3; python_version == '3.6'
ipython>=7.31.1, <8.0; python_version > '3.6'
isort~=5.0
jupyter~=1.0
jupyter_client>=5.1, <7.0
jupyterlab~=3.0
kedro[pandas.CSVDataSet, pandas.ExcelDataSet, pandas.ParquetDataSet]==0.17.7
openpyxl>=3.0.6, <4.0
kedro-telemetry~=0.1.0
kedro-viz==3.16.0; python_version=='3.6'
kedro-viz~=4.0; python_version>'3.6'
nbstripout~=0.4
pytest-cov~=3.0
pytest-mock>=1.7.1, <2.0
pytest~=6.2
scikit-learn~=1.0
wheel>=0.35, <0.37
pandas>=1.0.0
boltons>=20.0
pyspark>=2.2.0
econml==0.12.0
imbalanced-learn>=0.9.0
lifelines>=0.25
numpy>=1.20.0
pygam>=0.8
scikit-uplift<=0.3.2
statsmodels>=0.11