@use '../../styles/variables' as colors;

.app-onboarding {
  background-color: colors.$yellow-0;
  bottom: 40px;
  color: colors.$black-900;
  display: flex;
  flex-direction: column;
  padding: 40px;
  position: absolute;
  right: 40px;
  width: 367px;

  &__close {
    position: absolute;
    right: 20px;
    top: 20px;

    svg {
      cursor: pointer;
      height: 24px;
      width: 24px;
    }
  }

  &__header {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    margin: 20px 0 16px;
  }

  &__description {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 26px;
  }

  &__buttonsWrapper {
    display: flex;
    margin-bottom: 48px;

    a {
      margin-right: 20px;
    }

    a,
    .button {
      flex-shrink: 0;
    }

    .button button {
      color: colors.$black-900;
      border-color: colors.$black-900;

      &:hover:not(.button__btn--secondary) {
        background: colors.$black-900;
        color: colors.$white-0;
      }
    }

    .button__btn--secondary:hover::after {
      background: colors.$black-900;
    }

    .button__btn--secondary:active {
      background-color: unset;
      outline: unset;
    }
  }

  &__stepIndicators {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &__indicatorDot {
    background-color: colors.$black-400;
    border-radius: 50%;
    cursor: pointer;
    height: 6px;
    margin: 4px;
    width: 6px;

    &--active {
      background-color: colors.$black-900;
      height: 10px;
      width: 10px;
    }
  }
}

.app-onboarding__highlightDot {
  pointer-events: none;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: left 0.3s ease-in-out, top 0.3s ease-in-out;
  z-index: 10;
}
