@use '../../../styles/variables' as colors;

// Styling for Workflow chart only
.pipeline-node__details-bg {
  fill: #1a1a1a;
  stroke: none;
}

.pipeline-node--status-success {
  .pipeline-node__bg {
    stroke: #40d86e;
    fill: #1d3c28;
  }

  .pipeline-node__details-value {
    fill: colors.$white-0;
  }
}

.pipeline-node--status-failed {
  .pipeline-node__bg {
    stroke: #f56565;
    fill: #412526;
  }
}

.pipeline-node--status-skipped {
  .pipeline-node__bg {
    stroke: colors.$black-400;
    fill: colors.$slate-0;
  }

  .pipeline-node__icon,
  .pipeline-node__text {
    fill: colors.$black-400;
  }

  .pipeline-node__details-value {
    fill: colors.$black-400;
  }
}

.pipeline-node {
  .pipeline-node__details-label {
    fill: #b2b2b2;
  }

  .pipeline-node__details-outline {
    stroke: colors.$black-400;
    stroke-width: 2px;
    fill: none;
  }
}
