.runs-list-top-wrapper {
  position: sticky;
  top: 0px;
  z-index: 1;
}

.search-bar-wrapper {
  background: var(--color-bg-3);
  padding-top: 24px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.runs-list__wrapper {
  width: 100%;
}

.runs-list__accordion-header {
  background-color: var(--color-black-10);
  padding: 0.8em 3.5em 0.8em 3em;
}

.compare-switch-wrapper {
  align-items: baseline;
  background: var(--color-bg-3);
  display: flex;
  justify-content: space-between;
  padding: 3.5em 3.5em 1.2em 3em;
  position: sticky;
  top: 64px;
  z-index: 1;
}

.compare-switch-wrapper__text {
  font-size: 14px;
}
