packaging~=23.0
kedro>=0.17.5
ipython>=7.0.0, <9.0
fastapi>=0.73.0, <0.96.0
fsspec[s3]>=2021.4, <2024.1 
aiofiles==22.1.0
uvicorn[standard]~=0.22.0
watchgod~=0.8.2
plotly>=4.0
pandas>=1.3
sqlalchemy>=1.4, <3
strawberry-graphql>=0.192.0, <1.0
networkx>=2.5
orjson~=3.9
secure>=0.3.0
