-r requirements.txt
kedro[pandas,spark]>=0.16.0  
kedro-telemetry>=0.1.1  # for testing telemetry integration
bandit~=1.6.2
behave>=1.2.6, <2.0
black==21.5b1
flake8~=3.9.2
isort~=5.8.0
mypy>=0.900
psutil==5.6.6  # same as Kedro for now
pylint~=2.8.2
pytest~=6.2.0
pytest-cov~=2.11.1
pytest-mock~=3.6.1
trufflehog~=2.1.0

# mypy
types-aiofiles==0.1.3
types-cachetools==0.1.6
types-click==0.1.14
types-futures==0.1.3
types-Jinja2==2.11.2
types-orjson==0.1.0
types-pkg-resources==0.1.2
types-protobuf==0.1.10
types-PyYAML==0.1.5
types-requests==0.1.8
types-toml==0.1.1
types-ujson==0.1.0
