-r requirements.txt
kedro[pandas.ParquetDataSet]>=0.17.0  
kedro-telemetry>=0.1.1  # for testing telemetry integration
bandit~=1.7
behave~=1.2
black~=22.10
flake8~=5.0
isort~=5.10
matplotlib~=3.5
mypy~=0.982
psutil==5.9.3  # same as Kedro for now
pylint~=2.15
pytest~=7.1
pytest-asyncio~=0.20
pytest-mock~=3.9
pytest-cov~=4.0
sqlalchemy-stubs~=0.4
trufflehog~=2.2

# mypy
types-aiofiles==0.1.3
types-cachetools==0.1.6
types-click==0.1.14
types-futures==0.1.3
types-Jinja2==2.11.2
types-orjson==0.1.0
types-pkg-resources==0.1.2
types-protobuf==0.1.10
types-PyYAML==0.1.5
types-requests==0.1.8
types-toml==0.1.1
types-ujson==0.1.0
