@import '../../styles/extends';
@import '../../styles/variables';

.pipeline-ui {
  display: flex;
  flex-direction: column;
  padding: 30px;
  height: 100%;
}

.pipeline-ui__view {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: none;
  list-style: none;
  padding: 0 30px 0 0;
  margin: 0;
}

.pipeline-ui .cbn-toggle {
  width: 180px;
  flex: none;
  margin-top: 30px;
}

.pipeline-ui__node-list {
  margin: 30px -15px 0;
  // margin: 0 -15px;
  padding: 0;
  overflow: auto;
  // flex-shrink: 0;
  // max-height: calc(100vh - 330px);
}

.pipeline-ui__node {
  min-width: 320px; // TODO improve this on small screens

  &:nth-child(even) {
    background: rgba(#fff, 0.02);
  }

  &:hover,
  &--active {
    background: rgba(#fff, 0.1);
  }

  .cbn-switch {
    margin: 0;

    label {
      padding: 10px 15px;
    }
  }
}

.pipeline-ui .cbn-button {
  flex: none;
  margin-top: 30px;
}
