.chart-ui__view {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px 0;
  padding-right: 30px; }

.chart-ui__node-list {
  margin: 30px -15px;
  padding: 0;
  overflow: auto;
  max-height: calc(100vh - 240px); }

.chart-ui__node {
  min-width: 320px; }
  .chart-ui__node:nth-child(even) {
    background: rgba(255, 255, 255, 0.02); }
  .chart-ui__node:hover, .chart-ui__node--active {
    background: rgba(255, 255, 255, 0.1); }
  .chart-ui__node .cbn-switch {
    margin: 0; }
    .chart-ui__node .cbn-switch label {
      padding: 10px 15px; }
