@import '../../styles/extends';
@import '../../styles/variables';

.pipeline-ui {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.pipeline-ui__view {
  list-style: none;
  padding: 12px 24px 24px;
  margin: 0;

  .cbn-switch {
    margin-bottom: 20px;
  }

  > li:last-child .cbn-switch {
    margin-bottom: 0;
  }
}

.pipeline-ui .cbn-toggle {
  width: 230px;
  flex: none;
  padding: 12px 24px;
}