@import '../../styles/extends';
@import '../../styles/variables';

.pipeline-ui {
  display: flex;
  flex-direction: column;
  padding: 30px 30px 0;
  height: 100%;
}

.pipeline-ui__view {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: none;
  list-style: none;
  padding: 0 30px 0 0;
  margin: 0;
}

.pipeline-ui .cbn-toggle {
  width: 180px;
  flex: none;
  margin-top: 30px;
}