.pipeline-ui {
  display: flex;
  flex-direction: column;
  height: 100%; }

.pipeline-ui__view {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: none;
  list-style: none;
  padding: 0 30px 0 0;
  margin: 0; }

.pipeline-ui .cbn-toggle {
  width: 180px;
  flex: none;
  margin-top: 30px; }

.pipeline-ui__node-list {
  margin: 30px -15px 0;
  list-style: none;
  padding: 0; }

.pipeline-ui__node {
  min-width: 320px; }
  .pipeline-ui__node:nth-child(even) {
    background: rgba(255, 255, 255, 0.02); }
  .pipeline-ui__node:hover, .pipeline-ui__node--active {
    background: rgba(255, 255, 255, 0.1); }
  .pipeline-ui__node .cbn-switch {
    margin: 0; }
    .pipeline-ui__node .cbn-switch label {
      padding: 10px 15px; }
