name: Run unit-tests on Kedro-Viz
# Runs unit tests on Kedro-Viz across different 
# OS and Python versions after environment setup.

on:
  workflow_call:
    inputs:
      os:
        type: string
      python-version:
        type: string
jobs:
    unit_tests:
        runs-on: ${{ inputs.os }}
        # Only run on main and demo branches for Windows
        if: inputs.os == 'ubuntu-latest' || ((github.ref == 'refs/heads/main' || github.ref == 'refs/heads/demo') && inputs.os == 'windows-latest')
        steps:
        - name: Setup Tests
          uses: ./.github/actions/setup-tests.yml
          with:
            os: ${{ inputs.os }}
            python-version: ${{ inputs.python-version }}
            
        - name: Run Python tests
          run: make pytest      